<div class="footer">
    <div class="footer-wrap">
        <div class="container">
            <div class="row hoverable">
                <div><h2>Improve Customer Service With Ease</h2></div>
            </div>
            <div class="row hoverable">
                <div class="foot-but">
                    <a href="https://app.ratemyservice.io/signup"><div class="padd-me"><span>Start 14-Day FREE Trial</span></div></a>
                </div>
            </div>
            <div class="row parag hoverable">
                <p>By clicking the Button you are confirming that you agree with our <a title="Terms and Conditions" href="/terms-and-conditions" rel="nofollow">T&amp;C's</a> and <a title="Terms of Service" href="/terms-of-service" rel="nofollow">TOS's</a></p>
            </div>
            <div class="row">
                <div class="footer-svg-1"></div>
            </div>
        </div>
    </div>
</div>
