<nav class="navbar navbar-expand-lg navbar-light bg-light add-border">
    <a class="navbar-brand" href=""><img alt="A logo of RateMyService" src="https://assets.ratemyservice.io/images/RateMyService_Logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-solid fa-bars fa-2x"></i></span>
    </button>
    <div class="menu-nav">
        <div id="my-nav-menu">
            <a class="nav-link" href="#youtube-1">HOW IT WORKS</a>
            <a class="nav-link" href="#price-plans">PRICING</a>
            <a class="nav-link" href="#youtube-2">TUTORIAL</a>
            <a class="nav-link" href="https://app.ratemyservice.io/signin">LOGIN</a>
        </div>
        <a href="https://app.ratemyservice.io/signup"><button class="my-nav-but">TRY IT FREE</button></a>
    </div>

</nav>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#youtube-1">HOW IT WORKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#price-plans">PRICING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#youtube-2">TUTORIAL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">LOGIN</a>
        </li>
    </ul>
</div>