<form id="paymentForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="payment__summary">
        <h2>You are about to pay <span>${{ couponBundle.priceIncl|number_format }}</span></h2>
        <h3>for <span>{{ couponBundle.name }}</span> <br>(billed once-off)</h3>
        <div class="payment__coupon mt-3">
            <a class="payment__collapse-btn" data-bs-toggle="collapse" href="#couponCollapse" role="button"
               aria-expanded="false" aria-controls="couponCollapse">
                Do you have a coupon code? <i class="fa fa-angle-down ms-2"></i>
            </a>
            <div class="collapse" id="couponCollapse">
                <div class="mt-3">
                    <label class="sr-only" for="couponCode">Enter Coupon Code</label>
                    <input id="couponCode" class="form-control form-control-lg" type="text"
                           placeholder="Enter Coupon Code">
                </div>
            </div>
        </div>
    </div>
    <div class="payment__info">
        <div class="form-group my-4">
            <label for="email">Email *</label>
            <input class="form-control" id="email" name="email" required type="text" placeholder="Your E-mail Address"/>
        </div>
        <div class="payment__info-card">
            <div class="form-group mb-4">
                <label for="cardNumber">Card Number *</label>
                <input class="form-control" id="cardNumber" name="cardNumber" required type="text"
                       placeholder="0000000000000000"/>
            </div>
            <div class="form-group mb-4 payment__exp-date">
                <div>
                    <label class="mb-0">Expiry Date *</label>
                    <span class="d-block">Enter the expiration date of your card</span>
                </div>
                <div class="payment__exp-date--dates">
                    <label class="sr-only" for="expiryMonth">Expiry Month</label>
                    <input class="form-control" maxlength="2" id="expiryMonth" name="expiryMonth" required type="text"
                           placeholder="MM"/>
                    /
                    <label class="sr-only" for="expiryYear">Expiry Year</label>
                    <input class="form-control" maxlength="2" id="expiryYear" name="expiryYear" required type="text"
                           placeholder="YY"/>
                </div>
            </div>
            <div class="form-group payment__cvv">
                <div class="cvv-popover__container">
                    <label class="mb-0">CVV *
                        <button type="button" class="btn-link cvv-popover" data-bs-toggle="popover"
                                data-bs-placement="top"
                                data-bs-content=""><img
                                    src="https://assets.ratemyservice.io/images/rms-info-icon.svg"
                                    class="payment__tooltip tooltip-info ms-1">
                        </button>
                    </label>
                    <label class="sr-only" for="cardCode">CVV</label>
                    <span class="d-block">Enter the 3 or 4 digits on your card</span>
                </div>
                <input class="form-control" maxlength="4" id="cardCode" name="cardCode" required type="text"
                       placeholder="0000"/>
            </div>
        </div>
    </div>
    {{ "paymentForm" | formToken | raw }}
    <div id="error-message" class="alert alert-danger d-none">
        Add fields are required.
    </div>
</form>
<script>
    var popovercvv = new bootstrap.Popover('.cvv-popover', {
        container: '.cvv-popover__container',
        html: true,
        content: '<div class="cvv-popover__image"><img src="/images/credit-card-infographic.webp" class="mr-3" alt="Sample Image">'
    })


    $(document).ready(function () {
        $.validator.addMethod("creditcard",function(a,b){if(this.optional(b))return"dependency-mismatch";if(/[^0-9 \-]+/.test(a))return!1;var c,d,e=0,f=0,g=!1;if(a=a.replace(/\D/g,""),a.length<13||a.length>19)return!1;for(c=a.length-1;c>=0;c--)d=a.charAt(c),f=parseInt(d,10),g&&(f*=2)>9&&(f-=9),e+=f,g=!g;return e%10===0},"Please enter a valid credit card number.");

        $('#paymentForm').validate({
            rules: {
                cardNumber: {
                    required: true,
                    creditcard: true
                }
            },
            messages: {
                email: {
                    required: "",
                    email: ""
                },
                cardNumber: {
                    required: "",
                    creditcard: ""
                },
                expiryMonth: {
                    required: "",
                    minlength: "",
                    maxlength: "",
                    digits: ""
                },
                expiryYear: {
                    required: "",
                    minlength: "",
                    maxlength: "",
                    digits: ""
                },
                cardCode: {
                    required: "",
                    minlength: "",
                    maxlength: "",
                    digits: ""
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid').removeClass('is-valid');
                $(element).closest('.payment__info').addClass('has-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid').addClass('is-valid');
                if ($('#paymentForm').find('.is-invalid').length === 0) {
                    $(element).closest('.payment__info').removeClass('has-invalid');
                }
            },
            invalidHandler: function(event, validator) {
                if (validator.numberOfInvalids()) {
                    $('.payment__info').addClass('has-invalid');
                } else {
                    $('.payment__info').removeClass('has-invalid');
                }
            }
        });
    });
</script>
