<div class="text-center">
    <img class="mb-4" src="/images/icon-error.svg" alt="Error Icon">
    <h4>Oops! Something went wrong while loading the payment form. Please <strong>refresh the page</strong> or <strong>try again in a few moments</strong>.</h4>
</div>