<div class="payment__success">
    <img class="mb-4" src="/images/payment-success.svg" alt="Success Icon">
    <div class="text-center">
        <h2>Your purchase will<br>
            be <span>emailed to you.</span></h2>

        <h3>If you don’t see the email within<br>
            1 minute, please check your <span>SPAM folder</span>.</h3>
    </div>
</div>