@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font-stack: 'Poppins', sans-serif;
$primary-color: rgb(35, 49, 76);
$def-back-col: #f5f6f8;
$tn-pink: #FE0056;
$tn-teal: #1BCCDC;
$button-border: 1px solid $tn-pink;
$button-border-radius: 5px;
$tn-agency-section-gray: #F5F6F8;
$tn-appsumo-section-gray: #F5F6F8;
