<!DOCTYPE html>
<html lang="en">
<head>
    <title>RateMyService | Agency Owners: Get Lifetime Access to a Powerful Customer Review Platform</title>
    <link rel="icon" href="https://assets.ratemyservice.io/images/favicon-32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="customer feedback, customer satisfaction, customer satisfaction survey, CSAT, email signature survey, customer satisfaction email signature">
    <meta name="description"
          content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed">
    <meta property="og:title" content="Agency Owners: Get Lifetime Access to a Powerful Customer Review Platform"/>
    <meta property="og:description" content="Boost your clients' online reviews and increase their sales today"/>
    <meta prefix="og: https://ratemyservice.io/cookies" property="og:type" content="website"/>
    <meta property="og:url" content="https://ratemyservice.io/appsumo-bundle"/>
    <meta property="og:image" content="https://ratemyservice.io/images/og-image-banner.webp"/>
    <meta property="og:locale" content="en_GB"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap_5.3-bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap_5.3-bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css?ver=1.0.21" type="text/css">
    <script type="application/ld+json" src="/schema/local-business.txt"></script>
    <script type="application/ld+json" src="/schema/website.txt"></script>

    {# Tracking Scripts #}
    {# Meta #}
    {% include "code-snippets/meta-tracking-pixel.twig" %}

    {# Google #}
    {% include "code-snippets/google-tracking-script.twig" %}

    {# PostHog #}
    {% include "code-snippets/posthog-tracking-script.twig" %}

    <style>
        .popular-tag.popular-tag--agency {
            display: none;
        }

        .agency-pricing-card.agency-pricing-card--popular .popular-tag.popular-tag--agency {
            display: block;
        }
    </style>
</head>
<body class="rms-agency">
<header class="rms-landing-header">
    {% set pageName = 'Agency' %}
    {% include "components/header.twig" %}
</header>

<section class="rms-agency-hero overflow-hidden"
         style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp);">
    <div class="container position-relative z-1">
        <div class="rms-agency-hero__content">
            <div>
                <h1 class="text-white text-uppercase"><strong>AGENCY BUNDLES</strong></h1>
                <h2 class="text-white"><strong>
                        Need White-Label or CNAME
                        review software for your clients?</strong></h2>
                <h3 class="text-white">
                    <strong>RateMyService offers<span class="highlight highlight--agency"
                                                      style="background-image: url(https://assets.ratemyservice.io/images/rms-agency-bundles-highlight.svg);"> <br/>Lifetime Agency Bundles</span></strong>
                </h3>
                <div class="rms-agency-hero__cta-buttons">
                    <a class="btn buy-bundle-btn d-block"
                       href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
                       target="_blank">Buy
                        Bundle Now!</a>
                    <a class="btn buy-bundle-btn buy-bundle-btn--teal d-block"
                       href="/contact-us" target="_blank">Apply for White-label</a>
                </div>
            </div>
            <div class="rms-agency-mockup--phone">
                <img class="rms-agency-mockup__image--phone rms-agency-mockup__image--phone--dp"
                     src="https://assets.ratemyservice.io/images/rms-agency-phone-mockup--desktop.webp"
                     alt="A mockup of a phone with a screen showing the Appsumo bundle">

                <img class="rms-agency-mockup__image--phone rms-agency-mockup__image--phone--mb"
                     src="https://assets.ratemyservice.io/images/rms-agency-phone-mockup--mobile.webp"
                     alt="A mockup of a phone with a screen showing the Appsumo bundle">
            </div>
        </div>
    </div>
    <img class="section-split section-split--wave"
         src="https://assets.ratemyservice.io/images/rms-section-split-wave.svg"
         alt="A wave pattern that splits two sections">
</section>

<section class="section section--gray overflow-hidden" style="padding-top: 0;">
    <h2 class="text-center mb-5">Explore our <strong><span
                    class="yellow-highlight message">flexible pricing plans</span></strong>
        tailored to your needs</h2>
    <div class="container" style="max-width: 860px;">

        {# AGENCY BUNDLES #}

        <h1 class="text-center my-5 fw-bold text-uppercase">Agency/White-Labeled Bundles</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="agency-pricing-card card text-center mb-4">
                    <ul class="list-group">
                        <li class="list-group-item"><p class="agency-bundle-name"><strong style="font-size: 24px">Agency
                                    1</strong></p>
                            <h2 class="actual-price"><strong>$177</strong></h2>
                            <a href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
                               class="pricing-button mx-auto d-block">Buy Now (3 Codes)</a></li>
                        <li class="list-group-item"><h4 class="small-text">Primary License Included:</h4>
                            <p class="agency-bundle-name"><strong>1 Agency/White-Labeled ENTERPRISE
                                    Account*</strong>
                            </p>
                        </li>
                        <li class="list-group-item"><h4 class="small-text">Staff Member <a tabindex="0"
                                                                                           class="agency-fine-print text-dark"
                                                                                           role="button"
                                                                                           data-bs-toggle="popover"
                                                                                           data-bs-trigger="focus"
                                                                                           data-bs-content="* Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Accounts*</a>:
                            </h4>
                            <p class="staff-member-account"><strong class="text-uppercase">Unlimited</strong></p>
                        </li>
                        <li class="list-group-item">
                            <h4 class="small-text">Additional White-Labeled ENTERPRISE Account - Available to
                                <a tabindex="0"
                                   class="agency-fine-print text-dark"
                                   role="button"
                                   data-bs-toggle="popover"
                                   data-bs-trigger="focus"
                                   data-bs-content="** Each WHITE-LABELED ENTERPRISE Account includes it's own CNAME and the ability to create an UNLIMITED number of Staff Member accounts.">Resell**</a>:
                            </h4>
                            <p class="agency-bundle-name" style="color: #FE0056;"><strong>1</strong></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div id="pricingCard" class="agency-pricing-card agency-pricing-card--popular card text-center mb-4"
                     style="position: relative; overflow: hidden;">

                    <div class="popular-tag popular-tag--agency">
                        POPULAR
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item"><p class="agency-bundle-name" style="font-size: 24px">
                                <strong>
                                    <span id="agencyInfo">Agency UNLIMITED</span></strong></p>
                            <h2 id="codeValue" class="actual-price"><strong>$472</strong></h2>
                            <select id="codeSelect" class="form-select mt-2 mb-3 code-select-dropdown"
                                    aria-label="Agency Unlimited Code Options">
                                <option value="236">4 Codes</option>
                                <option value="295">5 Codes</option>
                                <option value="354">6 Codes</option>
                                <option value="413">7 Codes</option>
                                <option value="472" selected>8 Codes</option>
                            </select>
                            <a id="buyNowLink" href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
                               class="pricing-button-2 pricing-button-2-aligned mx-auto d-block">Buy
                                Now (8 Codes)</a></li>
                        <li class="list-group-item"><h4 class="small-text">Primary License Included:</h4>
                            <p class="agency-bundle-name"><strong>1 Agency/White-Labeled ENTERPRISE
                                    Account*</strong>
                            </p>
                        </li>
                        <li class="list-group-item"><h4 class="small-text">Staff Member <a tabindex="0"
                                                                                           class="agency-fine-print text-dark"
                                                                                           role="button"
                                                                                           data-bs-toggle="popover"
                                                                                           data-bs-trigger="focus"
                                                                                           data-bs-content="* Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Accounts*</a>:
                            </h4>
                            <p class="staff-member-account"><strong class="text-uppercase">Unlimited</strong></p></li>
                        <li class="list-group-item">
                            <h4 class="small-text">Additional White-Labeled ENTERPRISE Account - Available to
                                <a tabindex="0"
                                   class="agency-fine-print text-dark"
                                   role="button"
                                   data-bs-toggle="popover"
                                   data-bs-trigger="focus"
                                   data-bs-content="** Each WHITE-LABELED ENTERPRISE Account includes it's own CNAME and the ability to create an UNLIMITED number of Staff Member accounts.">Resell**</a>:
                            </h4>
                            <p class="agency-bundle-name" style="color: #FE0056;"><strong><span id="additionalInfo">UNLIMITED</span></strong>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="card mb-5 inclusive">
                    <p class="agency-bundle-name"><strong style="font-size: 16px">Also included in starter
                            bundles:</strong></p>
                    <ul class="starter-bundles mb-0">
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Number of
                            WHITE-LABELED ENTERPRISE Accounts included for <a tabindex="0"
                                                                              class="agency-fine-print text-dark"
                                                                              role="button"
                                                                              data-bs-toggle="popover"
                                                                              data-bs-trigger="focus"
                                                                              data-bs-content="** Each WHITE-LABELED ENTERPRISE Account includes it's own CNAME and the ability to create an UNLIMITED number of Staff Member accounts.">Resell**</a>
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">One CNAME
                            included for each WHITE-LABELED ENTERPRISE Account
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Super Admin
                            Dropdown, with the ability to quickly switch between WHITE-LABELED
                            Accounts
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Unique
                            Branding Area is included with each WHITE-LABELED ENTERPRISE Account
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Lifetime
                            access to RateMyService
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Includes all
                            Future ENTERPRISE Plan Updates
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">60 Day
                            Money-Back Satisfaction Guarantee
                        </li>


                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Unlimited
                            Administrators <a tabindex="0"
                                              class="agency-fine-print text-dark"
                                              role="button"
                                              data-bs-toggle="popover"
                                              data-bs-trigger="focus"
                                              data-bs-content="*** Administrators help manage the account and oversea the reviews they have received. Administrators have full access to each single account. Administrators are not Staff Members.">Included***</a>
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Each Staff
                            Member Account can receive Unlimited Reviews / Responses
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Unlimited
                            Email Alerts from Submitted Reviews / Responses
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Customizable
                            & Animated Email Signature Widgets, & Call-to-Actions (CTA)
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Animated and
                            Mobile Friendly Survey Forms
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">18+
                            <a tabindex="0"
                               class="agency-fine-print text-dark"
                               role="button"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus"
                               data-bs-content="**** 18+ Languages -> Display your Customer Touchpoints: Call-to-Action (CTA), Survey Forms, & Review Filter, in the Language of your choosing. Feel free to request your Language if it's missing! ">Languages****</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <h1 class="text-center mb-5 fw-bold text-uppercase mt-5">Starter Bundles</h1>

        {# STARTER BUNDLES #}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="agency-pricing-card card text-center mb-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="agency-bundle-name"><strong style="font-size: 24px">Start-Up</strong>
                            </p>
                            <h2 class="actual-price"><strong>$59</strong></h2>
                            <a href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
                               class="pricing-button mx-auto d-block">Buy Now (1 Code)</a>
                        </li>
                        <li class="list-group-item">
                            <h4 class="small-text">Primary License Included:</h4>
                            <p class="agency-bundle-name"><strong>1 START-UP Account</strong></p>
                        </li>
                        <li class="list-group-item">
                            <h4 class="small-text">Staff Member <a tabindex="0"
                                                                   class="agency-fine-print text-dark"
                                                                   role="button"
                                                                   data-bs-toggle="popover"
                                                                   data-bs-trigger="focus"
                                                                   data-bs-content="* Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Accounts*</a>:
                            </h4>
                            <p class="staff-member-account">10</p>
                        </li>
                        <li class="list-group-item">
                            <h4 class="small-text">Additional White-Labeled ENTERPRISE Account - Available to
                                <a tabindex="0"
                                   class="agency-fine-print text-dark"
                                   role="button"
                                   data-bs-toggle="popover"
                                   data-bs-trigger="focus"
                                   data-bs-content="** Each WHITE-LABELED ENTERPRISE Account includes it's own CNAME and the ability to create an UNLIMITED number of Staff Member accounts.">Resell**</a>:
                            </h4>
                            <p class="agency-bundle-name" style="color: #FE0056;"><strong>N/A</strong></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="agency-pricing-card card text-center mb-4">
                    <ul class="list-group">
                        <li class="list-group-item"><p class="agency-bundle-name"><strong style="font-size: 24px">Professional</strong>
                            </p>
                            <h2 class="actual-price"><strong>$118</strong></h2>
                            <a href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
                               class="pricing-button mx-auto d-block">Buy Now (2 Codes)</a></li>
                        <li class="list-group-item"><h4 class="small-text">Primary License Included:</h4>
                            <p class="agency-bundle-name"><strong>1 PROFESSIONAL Account</strong></p></li>
                        <li class="list-group-item"><h4 class="small-text">Staff Member <a tabindex="0"
                                                                                           class="agency-fine-print text-dark"
                                                                                           role="button"
                                                                                           data-bs-toggle="popover"
                                                                                           data-bs-trigger="focus"
                                                                                           data-bs-content="* Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Accounts*</a>:
                            </h4>
                            <p class="staff-member-account">50</p></li>
                        <li class="list-group-item">
                            <h4 class="small-text">Additional White-Labeled ENTERPRISE Account - Available to
                                <a tabindex="0"
                                   class="agency-fine-print text-dark"
                                   role="button"
                                   data-bs-toggle="popover"
                                   data-bs-trigger="focus"
                                   data-bs-content="** Each WHITE-LABELED ENTERPRISE Account includes it's own CNAME and the ability to create an UNLIMITED number of Staff Member accounts.">Resell**</a>:
                            </h4>
                            <p class="agency-bundle-name" style="color: #FE0056;"><strong>N/A</strong></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="card mb-5 inclusive">
                    <p class="agency-bundle-name"><strong style="font-size: 16px">Also included in starter
                            bundles:</strong></p>
                    <ul class="starter-bundles mb-0">
                        <li><img src="/images/cross-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span
                                    class="striked-feature">Number
                                of WHITE-LABELED ENTERPRISE Accounts included for <a tabindex="0"
                                                                                     class="agency-fine-print text-dark"
                                                                                     role="button"
                                                                                     data-bs-toggle="popover"
                                                                                     data-bs-trigger="focus"
                                                                                     data-bs-content="** Each WHITE-LABELED ENTERPRISE Account includes it's own CNAME and the ability to create an UNLIMITED number of Staff Member accounts.">Resell**</a></span>
                        </li>
                        <li><img src="/images/cross-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span
                                    class="striked-feature">One
                                CNAME included for each WHITE-LABELED ENTERPRISE Account</span>
                        </li>
                        <li><img src="/images/cross-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span
                                    class="striked-feature">Super
                                Admin Dropdown, with the ability to quickly switch between WHITE-LABELED
                                Accounts</span></li>
                        <li><img src="/images/cross-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span
                                    class="striked-feature">Unique
                                Branding Area is included with each WHITE-LABELED ENTERPRISE Account</span>
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Lifetime
                            access to RateMyService
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Includes all
                            Future ENTERPRISE Plan Updates
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">60 Day
                            Money-Back Satisfaction Guarantee
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Unlimited
                            Administrators <a tabindex="0"
                                              class="agency-fine-print text-dark"
                                              role="button"
                                              data-bs-toggle="popover"
                                              data-bs-trigger="focus"
                                              data-bs-content="*** Administrators help manage the account and oversea the reviews they have received. Administrators have full access to each single account. Administrators are not Staff Members.">Included***</a>
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Each Staff
                            Member Account can receive Unlimited Reviews / Responses
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Unlimited
                            Email Alerts from Submitted Reviews / Responses
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Customizable
                            & Animated Email Signature Widgets, & Call-to-Actions (CTA)
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Animated and
                            Mobile Friendly Survey Forms
                        </li>
                        <li><img src="/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">18+
                            <a tabindex="0"
                               class="agency-fine-print text-dark"
                               role="button"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus"
                               data-bs-content="**** 18+ Languages -> Display your Customer Touchpoints: Call-to-Action (CTA), Survey Forms, & Review Filter, in the Language of your choosing. Feel free to request your Language if it's missing! ">Languages****</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="rms-section-split">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
        <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
              style="stroke-width:0; fill: #F5F6F8;"/>
    </svg>
</div>
<section class="section section--white section--white-label overflow-hidden">
    <div class="container">
        <div class="rms-white-label__content">
            <div>
                <h2 class="rms-white-label-heading mb-4"><strong>With this bundle, you'll get lifetime access to our
                        powerful
                        customer review platform, which includes a variety
                        of features to help you collect, manage, and display reviews, including:</strong></h2>
                <ul class="rms-bullet-list">
                    <li>A white-label / CNAME platform that you can <strong>brand with your own logo and
                            colours</strong></li>
                    <li>Agency <strong>branding settings</strong></li>
                    <li>A super admin dropdown for <strong>quick account switching</strong></li>
                </ul>
                <div class="rms-profits-addition mt-4">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-up-arrows.svg"
                         alt="An icon with three colorful arrows pointing upwards">
                    Plus, you'll get to set your own client pricing, so you can maximize your profits.
                </div>
            </div>
            <div class="rms-agency-mockup--laptop position-relative">
                <img class="rms-agency-mockup__image--laptop rms-agency-mockup__image--laptop"
                     src="https://assets.ratemyservice.io/images/rms-agency-laptop-mockup.webp"
                     alt="A mockup of a laptop with a screen showing white-label options">
            </div>
        </div>
    </div>
</section>

<section class="section section--gradient overflow-hidden position-relative overflow-hidden"
         style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp);">
    <div class="rms-section-split rms-section-split--absolute">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #FFF;"/>
        </svg>
    </div>
    <div class="container text-center">
        <h2 class="text-white mb-5"><strong>Buy a Bundle with at least x3 Codes (Enterprise) and Get Your Lifetime
                Access Today</strong></h2>
        <h3 class="text-white mb-5"><strong>With our white-label solution, your clients will never see our brand or
                receive emails from us. Instead,
                they'll see your branding and receive emails from your domain.</strong></h3>
        <a class="btn buy-bundle-btn buy-bundle-btn--center mt-4"
           href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
           target="_blank">Buy
            Bundle Now!</a>
    </div>
    <div class="rms-section-split--solid rms-section-split--absolute">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2568 55">
            <path d="M2568 0v55H0V0h1238.2c20.09 0 38.2 13.14 45.8 33.25C1291.6 13.14 1309.69 0 1329.78 0H2568Z"
                  style="stroke-width: 0; fill: #F5F6F8"/>
        </svg>
    </div>
</section>

<section class="section section--gray">
    <div class="container">
        <h2 class="text-center mb-5"><strong>How it works:</strong></h2>
        <div class="rms-agency-how-it-works">
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-lifetime.svg"
                         alt="An icon of a pink heart with a clock inside">
                </div>
                <h3>Purchase a <strong>lifetime code</strong>
                    bundle from <strong>AppSumo</strong>.</h3>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-label.svg"
                         alt="An icon of a blue label">
                </div>
                <h3><strong>Apply</strong> for <strong>the White-label
                        / CNAME Module</strong>.</h3>
                <a class="btn apply-btn apply-btn--center mt-4"
                   href="/contact-us">Apply Here!<img
                            src="https://assets.ratemyservice.io/images/blue-arrow.svg"
                            alt="A blue arrow pointing to a button"></a>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-customize.svg"
                         alt="An icon of a yellow gear">
                </div>
                <h3><strong>Customize</strong> your ecosystem
                    with your <strong>own branding
                        and settings</strong>.</h3>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-brand.svg"
                         alt="An icon of a green coin">
                </div>
                <h3>Start selling our software
                    to your clients under
                    <strong>your own brand!</strong></h3>
            </div>
        </div>
    </div>
</section>
<div class="rms-section-split">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
        <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
              style="stroke-width:0; fill: #F5F6F8;"/>
    </svg>
</div>
<section class="section section--white overflow-hidden">
    <div class="container" style="max-width: 1060px;">
        <h2 class="rms-pricing-table-heading mb-4"><strong>Benefits of Using Our White Label Software:</strong></h2>
        <ul class="rms-bullet-list">
            <li class="mb-3"><strong>Seamless integration:</strong> Clients signing up with your domain URL will
                automatically be part of your
                ecosystem and have your branding. All system emails will be sent from your own domain.
            </li>
            <li class="mb-3"><strong>Comprehensive support:</strong> We provide email support to you and your clients
                with a generic email address.
            </li>
            <li class="mb-3"><strong>Flexible pricing:</strong> Unused codes <strong>don't expire</strong>, and you can
                transfer codes from cancelled accounts to new accounts <strong>with no time limits</strong> or
                restrictions.
            </li>
            <li class="mb-3"><strong>Granular subscription control:</strong> You as the Agency Owner can quickly & easly
                increase/decrease the subscription levels of your clients in order to restrict the number of staff
                members and features they have access to.
            </li>
            <li class="mb-3"><strong>Easy account management:</strong> As the agency owner, you can easily switch
                between different clients' accounts
                using the Super Admin dropdown. You can also add yourself to clients' accounts to receive notifications.
            </li>
            <li class="mb-3"><strong>Training Videos:</strong> Non-branded training videos are provided in the
                Dashboard.
            </li>
        </ul>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
// Script to update Unlimited Agency Button and Price text based on html select selection
        var selectElement = document.getElementById('codeSelect');
        var h1Element = document.getElementById('codeValue');
        var spanElement = document.getElementById('additionalInfo');
        var h2Element = document.getElementById('agencyInfo');
        var pricingCard = document.getElementById('pricingCard');

        h1Element.textContent = '$' + selectElement.value;

        spanElement.textContent = "Unlimited";

        h2Element.textContent = "Agency UNLIMITED";

        selectElement.addEventListener('change', function () {

            h1Element.textContent = '$' + selectElement.value;

            var selectedValue = selectElement.value;
            switch (selectedValue) {
                case "236":
                    spanElement.textContent = "5";
                    h2Element.textContent = "Agency 5";
                    pricingCard.classList.remove('agency-pricing-card--popular');
                    break;
                case "295":
                    spanElement.textContent = "10";
                    h2Element.textContent = "Agency 10";
                    pricingCard.classList.remove('agency-pricing-card--popular');
                    break;
                case "354":
                    spanElement.textContent = "30";
                    h2Element.textContent = "Agency 30";
                    pricingCard.classList.remove('agency-pricing-card--popular');
                    break;
                case "413":
                    spanElement.textContent = "50";
                    h2Element.textContent = "Agency 50";
                    pricingCard.classList.remove('agency-pricing-card--popular');
                    break;
                case "472":
                    spanElement.textContent = "Unlimited";
                    h2Element.textContent = "Agency UNLIMITED";
                    pricingCard.classList.add('agency-pricing-card--popular');
                    break;
                default:
                    spanElement.textContent = "Unlimited";
                    h2Element.textContent = "Agency UNLIMITED";
                    pricingCard.classList.remove('agency-pricing-card--popular');
            }
        });
    });

    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    const popover = new bootstrap.Popover('.popover-dismiss', {
        trigger: 'focus'
    })
</script>
<footer>
    {% include "components/footer.twig" %}
</footer>