<!DOCTYPE html>
<html lang="en">
<head>
    <title>RateMyService - Get more 5 star Reviews</title>
    <link rel="icon" href="https://assets.ratemyservice.io/images/favicon-32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="customer feedback, customer satisfaction, customer satisfaction survey, CSAT, email signature survey, customer satisfaction email signature">
    <meta name="description" content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed">
    <meta property="og:title" content="Rate My Service" />
    <meta property="og:description" content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed" />
    <meta prefix="og: https://ratemyservice.io/" property="og:type" content="website"/>
    <meta property="og:url" content="https://ratemyservice.io/test-ltd" />
    <meta property="og:image" content="https://ratemyservice.io/images/banner-v01-3.jpg" />
    <meta property="og:locale" content="en_GB" />
    <link rel="canonical" href="https://ratemyservice.io/" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/bootstrap_5.3-bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap_5.3-bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css?ver=1.0.21" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/css/tiny-slider-2_9_4.css">
    <!--[if (lt IE 9)]><link rel="stylesheet" href="/css/tiny-slider-2_9_4_IE.css"><![endif]-->
    <script type="application/ld+json" src="/schema/local-business.txt" ></script>
    <script type="application/ld+json" src="/schema/website.txt" ></script>
    <script type="application/ld+json" src="/schema/product.txt" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script src="/js/tina4helper.js"></script>
    <!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->
    <!-- Start cookieyes banner -->
    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/068433cc84e8fbf15116f01b/script.js"></script>
    <!-- End cookieyes banner -->
</head>
<body>
<header>
    {% include "components/header.twig" %}
</header>
<div id="price-plans">
    <div class="rms-section-split rms-section-split--absolute" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #ffffff;"></path>
        </svg>
    </div>
    <div class="container pad-container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 single-price-plan px-3 py-4 price-plan-item border">
                <div class="p-3">
                    <div class="num-staff">
                        <h5>1 Staff Member</h5>
                    </div>
                    <div class="plan-name">
                        <span>Individual</span>
                    </div>
                    <div class="actual-price">
                        <span>$9</span>
                    </div>
                    <div class="per-month">
                        <span>per month</span>
                    </div>
                    <div class="start-trial">
                        <a href="https://app.ratemyservice.io/signup">
                            <div class="pricing-button">
                                <span>START FREE TRIAL</span>
                            </div>
                        </a>
                    </div>
                    <div class="what-you-get">
                        <span>What's included:</span>
                        <ul>
                            <li class="rms-pink"><span class="d-inline-block" tabindex="0"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-title="Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Up to 1 Staff Member
    <img src="/images/rms-info-icon.svg" class="tooltip-info" alt="Information Icon">
  </span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title="When an End-User fills out an Internal Survey Form then these are considered a 'Response'. There is no limit.">
  Unlimited Responses <img src="/images/rms-info-icon.svg"
                           class="tooltip-info">
</span></li>
                            <nobr>
                                <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                          data-bs-title=" External Reviews are reviews from GoogleMyBusiness, TrustPilot, YELP, TripAdvisor, Facebook etc. There is no limit.">
  Unlimited External Reviews <img src="/images/rms-info-icon.svg"
                                  class="tooltip-info">
</span></li>
                            </nobr>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" We have dozens of widgets (or icons) templates that can be displayed as either 2, 3 or 5. You increase/decrease the size, and distance between the widgets.">
  Customizable Widget <img src="/images/rms-info-icon.svg"
                           class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Our email signature widget can also be in GIF format, which makes the icons appear animated when viewed by the User.">
  Animated Widget <img src="/images/rms-info-icon.svg"
                       class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Display your Customer Touchpoints (i.e. Call-to-Action, Survey Forms, & Review Filter) in the Language of your choosing. Feel free to request your Language if it's missing! ">
  18 Languages <img src="/images/rms-info-icon.svg"
                    class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Customize the Call-To-Action at the end of your email - ‘’How would you rate my service?’’ -  Change the wording, font size, colour and more! ">
  Customizable CTA <img src="/images/rms-info-icon.svg"
                        class="tooltip-info">
</span></li>
                            <li>Reports & Dashboards</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Administrators will have full access to the software and are responsible for the customization, staff setup, configurations, will receive notifications, and will have access to all the reporting and customer feedback. ">
  Unlimited Administrators <img src="/images/rms-info-icon.svg"
                                class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" These are the End-Users. They are the customers who fill out the Internal Survey Form, or External Review Form (GMB, TrustPilot, YELP, TripAdvisor, Facebook)">
  Unlimited Users <img src="/images/rms-info-icon.svg"
                       class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" This is Customer Feedback emailed when someone rates the service positively or negatively. Email Alerts are sent to both the Administrator, and the Staff Member who the Customer Feedback is related to.">
  Unlimited Email Alerts <img src="/images/rms-info-icon.svg"
                              class="tooltip-info">
</span></li>
                            <li>Customer Support</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" There will be no limit on the information stored regarding the analytical performance of your customer service.">
  Unlimited Data Storage <img src="/images/rms-info-icon.svg"
                              class="tooltip-info">
</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 single-price-plan px-3 py-4 rounded price-plan-item">
                <div class="p-3">
                    <div class="num-staff">
                        <div class="popular-tag d-block">
                            POPULAR
                        </div>
                    </div>
                    <div class="num-staff">
                        <h5>2 - 10 Staff Members</h5>

                    </div>
                    <div class="plan-name">
                        <span>Start-Up</span>
                    </div>
                    <div class="actual-price">
                        <span>$29</span>
                    </div>
                    <div class="per-month per-month-aligned">
                        <span>per month</span>
                    </div>
                    <div class="start-trial">
                        <a href="https://app.ratemyservice.io/signup">
                            <div class="pricing-button-2 pricing-button-2-aligned text-uppercase mx-auto d-block"><span>START FREE TRIAL</span>
                            </div>
                        </a>
                    </div>
                    <div class="what-you-get unsettled">
                        <span>What's included:</span>
                        <ul>
                            <li class="rms-pink"><span class="d-inline-block" tabindex="0"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-title="Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Up to 10 Staff Members
    <img src="/images/rms-info-icon.svg" class="tooltip-info" alt="Information Icon">
  </span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title="When an End-User fills out an Internal Survey Form then these are considered a 'Response'. There is no limit.">
  Unlimited Responses <img src="/images/rms-info-icon.svg"
                           class="tooltip-info">
</span></li>
                            <nobr>
                                <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                          data-bs-title=" External Reviews are reviews from GoogleMyBusiness, TrustPilot, YELP, TripAdvisor, Facebook etc. There is no limit.">
  Unlimited External Reviews <img src="/images/rms-info-icon.svg"
                                  class="tooltip-info">
</span></li>
                            </nobr>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" We have dozens of widgets (or icons) templates that can be displayed as either 2, 3 or 5. You increase/decrease the size, and distance between the widgets.">
Customizable Widget <img src="/images/rms-info-icon.svg"
                         class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Our email signature widget can also be in GIF format, which makes the icons appear animated when viewed by the User.">
 Animated Widget <img src="/images/rms-info-icon.svg"
                      class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Display your Customer Touchpoints (i.e. Call-to-Action, Survey Forms, & Review Filter) in the Language of your choosing. Feel free to request your Language if it's missing! ">
 18 Languages <img src="/images/rms-info-icon.svg"
                   class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Customize the Call-To-Action at the end of your email - ‘’How would you rate my service?’’ -  Change the wording, font size, colour and more! ">
 Customizable CTA <img src="/images/rms-info-icon.svg"
                       class="tooltip-info">
</span></li>
                            <li>Reports & Dashboards</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Administrators will have full access to the software and are responsible for the customization, staff setup, configurations, will receive notifications, and will have access to all the reporting and customer feedback. ">
 Unlimited Administrators <img src="/images/rms-info-icon.svg"
                               class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" These are the End-Users. They are the customers who fill out the Internal Survey Form, or External Review Form (GMB, TrustPilot, YELP, TripAdvisor, Facebook)">
Unlimited Users <img src="/images/rms-info-icon.svg"
                     class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" This is Customer Feedback emailed when someone rates the service positively or negatively. Email Alerts are sent to both the Administrator, and the Staff Member who the Customer Feedback is related to.">
Unlimited Email Alerts <img src="/images/rms-info-icon.svg"
                            class="tooltip-info">
</span></li>
                            <li>Customer Support</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" There will be no limit on the information stored regarding the analytical performance of your customer service.">
 Unlimited Data Storage <img src="/images/rms-info-icon.svg"
                             class="tooltip-info">
</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 single-price-plan px-3 py-4 price-plan-item border">
                <div class="p-3">
                    <div class="num-staff">

                        <h5>11 - 50 Staff Members</h5>

                    </div>
                    <div class="plan-name">
                        <span>Professional</span>
                    </div>
                    <div class="actual-price">
                        <span>$99</span>
                    </div>
                    <div class="per-month">
                        <span>per month</span>
                    </div>
                    <div class="start-trial">
                        <a href="https://app.ratemyservice.io/signup">
                            <div class="pricing-button"><span>START FREE TRIAL</span></div>
                        </a>
                    </div>
                    <div class="what-you-get">
                        <span>What's included:</span>
                        <ul>
                            <li class="rms-pink"><span class="d-inline-block" tabindex="0"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-title="Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Up to 50 Staff Members
    <img src="/images/rms-info-icon.svg" class="tooltip-info" alt="Information Icon">
  </span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title="When an End-User fills out an Internal Survey Form then these are considered a 'Response'. There is no limit.">
Unlimited Responses <img src="/images/rms-info-icon.svg"
                         class="tooltip-info">
</span></li>
                            <nobr>
                                <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                          data-bs-title=" External Reviews are reviews from GoogleMyBusiness, TrustPilot, YELP, TripAdvisor, Facebook etc. There is no limit.">
Unlimited External Reviews <img src="/images/rms-info-icon.svg"
                                class="tooltip-info">
</span></li>
                            </nobr>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" We have dozens of widgets (or icons) templates that can be displayed as either 2, 3 or 5. You increase/decrease the size, and distance between the widgets.">
Customizable Widget <img src="/images/rms-info-icon.svg"
                         class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Our email signature widget can also be in GIF format, which makes the icons appear animated when viewed by the User.">
Animated Widget <img src="/images/rms-info-icon.svg"
                     class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Display your Customer Touchpoints (i.e. Call-to-Action, Survey Forms, & Review Filter) in the Language of your choosing. Feel free to request your Language if it's missing! ">
18 Languages <img src="/images/rms-info-icon.svg"
                  class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Customize the Call-To-Action at the end of your email - ‘’How would you rate my service?’’ -  Change the wording, font size, colour and more! ">
Customizable CTA <img src="/images/rms-info-icon.svg"
                      class="tooltip-info">
</span></li>
                            <li>Reports & Dashboards</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Administrators will have full access to the software and are responsible for the customization, staff setup, configurations, will receive notifications, and will have access to all the reporting and customer feedback. ">
Unlimited Administrators <img src="/images/rms-info-icon.svg"
                              class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" These are the End-Users. They are the customers who fill out the Internal Survey Form, or External Review Form (GMB, TrustPilot, YELP, TripAdvisor, Facebook)">
Unlimited Users <img src="/images/rms-info-icon.svg"
                     class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" This is Customer Feedback emailed when someone rates the service positively or negatively. Email Alerts are sent to both the Administrator, and the Staff Member who the Customer Feedback is related to.">
Unlimited Email Alerts <img src="/images/rms-info-icon.svg"
                            class="tooltip-info">
</span></li>
                            <li>Customer Support</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" There will be no limit on the information stored regarding the analytical performance of your customer service.">
Unlimited Data Storage <img src="/images/rms-info-icon.svg"
                            class="tooltip-info">
</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 single-price-plan px-3 py-4 price-plan-item border">
                <div class="p-3">
                    <div class="num-staff">
                        <h5>Unlimited Staff Members</h5>

                    </div>
                    <div class="plan-name">
                        <span>Enterprise</span>
                    </div>
                    <div class="actual-price">
                        <span>$249</span>
                    </div>
                    <div class="per-month">
                        <span>per month</span>
                    </div>
                    <div class="start-trial">
                        <a href="https://app.ratemyservice.io/signup">
                            <div class="pricing-button">
                                <span>START FREE TRIAL</span>
                            </div>
                        </a>
                    </div>
                    <div class="what-you-get">
                        <span>What's included:</span>
                        <ul>
                            <li class="rms-pink"><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                                       data-bs-title="→ Logo & favicon will be YOUR Brand.
→ URL will be YOUR DomainName.
→ End-Users will only ever see YOUR Brand.
→ All system emails will be with YOUR Domain/Branding.">
  <a class="rms-pink" type="button" disabled>White-label / CNAME <img src="/images/rms-info-icon.svg"
                                                                      class="tooltip-info"></a>
</span>
                            </li>
                            <li class="rms-pink"><span class="d-inline-block" tabindex="0"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-title="Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">Unlimited Staff Members
    <img src="/images/rms-info-icon.svg" class="tooltip-info" alt="Information Icon">
  </span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title="When an End-User fills out an Internal Survey Form then these are considered a 'Response'. There is no limit.">
Unlimited Responses <img src="/images/rms-info-icon.svg"
                         class="tooltip-info">
</span></li>
                            <nobr>
                                <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                          data-bs-title=" External Reviews are reviews from GoogleMyBuiness, TrustPilot, YELP, TripAdvisor, Facebook etc. There is no limit.">
  Unlimited External Reviews <img src="/images/rms-info-icon.svg"
                                  class="tooltip-info">
</span></li>
                            </nobr>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" We have dozens of widgets (or icons) templates that can be displayed as either 2, 3 or 5. You increase/decrease the size, and distance between the widgets.">
Customizable Widget <img src="/images/rms-info-icon.svg"
                         class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Our email signature widget can also be in GIF format, which makes the icons appear animated when viewed by the User.">
Animated Widget <img src="/images/rms-info-icon.svg"
                     class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Display your Customer Touchpoints (i.e. Call-to-Action, Survey Forms, & Review Filter) in the Language of your choosing. Feel free to request your Language if it's missing! ">
 18 Languages <img src="/images/rms-info-icon.svg"
                   class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Customize the Call-To-Action at the end of your email - ‘’How would you rate my service?’’ -  Change the wording, font size, colour and more! ">
Customizable CTA <img src="/images/rms-info-icon.svg"
                      class="tooltip-info">
</span></li>
                            <li>Reports & Dashboards</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" Administrators will have full access to the software and are responsible for the customization, staff setup, configurations, will receive notifications, and will have access to all the reporting and customer feedback. ">
Unlimited Administrators <img src="/images/rms-info-icon.svg"
                              class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" These are the End-Users. They are the customers who fill out the Internal Survey Form, or External Review Form (GMB, TrustPilot, YELP, TripAdvisor, Facebook)">
Unlimited Users <img src="/images/rms-info-icon.svg"
                     class="tooltip-info">
</span></li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" This is Customer Feedback emailed when someone rates the service positively or negatively. Email Alerts are sent to both the Administrator, and the Staff Member who the Customer Feedback is related to.">
Unlimited Email Alerts <img src="/images/rms-info-icon.svg"
                            class="tooltip-info">
</span></li>
                            <li>Customer Support</li>
                            <li><span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                      data-bs-title=" There will be no limit on the information stored regarding the analytical performance of your customer service.">
Unlimited Data Storage <img src="/images/rms-info-icon.svg"
                            class="tooltip-info">
</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="form"></div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<footer>
    {% include "components/footer.twig" %}
</footer>
</body>
</html>