<!DOCTYPE html>
<html lang="en">
<head>
    <title>RateMyService | Agency Owners: Get Lifetime Access to a Powerful Customer Review Platform</title>
    <link rel="icon" href="https://assets.ratemyservice.io/images/favicon-32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="customer feedback, customer satisfaction, customer satisfaction survey, CSAT, email signature survey, customer satisfaction email signature">
    <meta name="description"
          content="RateMyService is an In-Signature Customer Satisfaction (CSAT) Solution designed to help Businesses insert Surveys in agent/staff Email Signatures.">
    <meta property="og:title" content="Agency Owners: Get Lifetime Access to a Powerful Customer Review Platform"/>
    <meta property="og:description" content="Boost your clients' online reviews and increase their sales today"/>
    <meta prefix="og: https://ratemyservice.io/cookies" property="og:type" content="website"/>
    <meta property="og:url" content="https://ratemyservice.io/appsumo-bundle"/>
    <meta property="og:image" content="https://ratemyservice.io/images/ratemyservice-banner-3.jpg"/>
    <meta property="og:locale" content="en_GB"/>
    <link rel="canonical" href="https://ratemyservice.io/cookies"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap_5.3-bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap_5.3-bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css?ver=1.0.21" type="text/css">
    <script type="application/ld+json" src="/schema/local-business.txt"></script>
    <script type="application/ld+json" src="/schema/website.txt"></script>
    <link rel="stylesheet" href="/css/tiny-slider-2_9_4.css">
    <!--[if (lt IE 9)]>
    <link rel="stylesheet" href="/css/tiny-slider-2_9_4_IE.css"><![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

</head>
<body class="rms-appsumo-landing">
<header class="rms-landing-header">
    {% set pageName = 'Appsumo Bundle' %}
    {% include "components/header.twig" %}
</header>


<section class="rms-appsumo-hero overflow-hidden"
         style="background-image: url(/images/rms-landing-background-gradient.webp);">
    <div class="container position-relative z-1">
        <div class="rms-appsumo-hero__content">
            <div>
                <h1 class="text-white text-uppercase"><strong>APPSUMO LIFETIME BUNDLES</strong></h1>
                <h2 class="text-white text-uppercase"><strong><span class="highlight"
                                                                    style="background-image: url(/images/rms-landing-heading-highlight.svg);">GET LIFETIME ACCESS</span>
                        TO OUR REVIEW MANAGEMENT SOFTWARE THROUGH APPSUMO</strong></h2>
                <h3 class="text-white">
                    <strong>Are you an Agency looking for White-Label & CNAME bundles to resell? Resell our
                        Review Management Software under your own branding and boost your clients’ online
                        reviews!</strong>
                </h3>
                <a class="btn buy-bundle-btn" href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
                   target="_blank">Buy AppSumo Bundle!</a>
            </div>
            <div class="rms-appsumo-mockup--phone">
                <img class="rms-appsumo-mockup__image--phone rms-appsumo-mockup__image--phone--dp"
                     src="images/rms-appsumo-landing-phone-mockup.webp"
                     alt="A mockup of a phone with a screen showing the Appsumo bundle">

                <img class="rms-appsumo-mockup__image--phone rms-appsumo-mockup__image--phone--mb"
                     src="images/rms-appsumo-landing-phone-mockup--mb.webp"
                     alt="A mockup of a phone with a screen showing the Appsumo bundle">
            </div>
        </div>
    </div>
    <img class="section-split section-split--wave" src="/images/rms-section-split-wave.svg"
         alt="A wave pattern that splits two sections">
</section>
<section class="section section--gray overflow-hidden" style="padding-top: 0;">
    <div id="rms-slider" style="max-width: 788px; margin: auto auto 80px auto;">
        <div class="slider-container">
            <ul class="control" id="custom-control">
                <li class="prev">
                    <i class="fa fa-angle-left fa-2x"></i>
                </li>
                <li class="next">
                    <i class="fa fa-angle-right fa-2x"></i>
                </li>
            </ul>
            <div class="rms-slider" style="display: flex;">
                <img src="https://assets.ratemyservice.io/images/review-logo-trustpilot.svg"
                     alt="Trustpilot Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-yelp.svg"
                     alt="Yelp Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-tripadvisor.svg"
                     alt="Tripadvisor Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-facebook.svg"
                     alt="Facebook Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-google.svg"
                     alt="Google Reviews Logo">
            </div>
        </div>
    </div>
    <div class="container" style="max-width: 1060px;">
        <h2 class="rms-pricing-table-heading text-center mb-5"><strong>Are you an Agency looking for a
                White-Label & CNAME option to resell?</strong></h2>
        <h3 class="mb-5 text-center" style="font-size: 22px;"><strong>RateMyService sells White-Label & CNAME packages
                for agencies looking to resell Review Management Software widgets to their clients.</strong>
        </h3>

        <div class="accordion rms-mobile-pricing-accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span><strong>1 Code</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$59</strong></span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>Start-Up</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>1 - 10 Staff</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span><strong>2 Codes</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$118</strong></span>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>Corporate</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>11 - 50 Staff</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span><strong>3 Codes</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$177</strong></span>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>×1 Agency / White Label</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>Unlimited Staff &amp; resell to 1 client</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span><strong>4 Codes</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$236</strong></span>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>×5 Agency / White Label</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>Resell to 5 Client</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span><strong>5 Codes</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$295</strong></span>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>×10 Agency / White Label</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>Resell to 10 Client</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <span><strong>6 Codes</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$354</strong></span>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>×30 Agency / White Label</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>Resell to 30 Client</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <span><strong>7 Codes</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$413</strong></span>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>×50 Agency / White Label</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>Resell to 50 Client</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <span><strong>8 Codes</strong></span> <span>Bundle Cost <strong class="rms-bundle-price-bigger">$472</strong></span>
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="rms-bundle-info">
                            <strong>Bundle</strong> <span>Unlimited × Agency / White Label</span>
                        </div>
                        <div class="rms-bundle-info">
                            <strong>Bundle Inclusions</strong> <span>Resell to Unlimited Clients</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="rms-pricing-table">
            <div class="rms-pricing-table-body">
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell rms-pricing-table-cell--top-left table-header text-center">
                        Codes
                    </div>
                    <div class="rms-pricing-table-cell table-header text-center">Bundle / Plan</div>
                    <div class="rms-pricing-table-cell table-header">Bundle Cost</div>
                    <div class="rms-pricing-table-cell rms-pricing-table-cell--top-right table-header text-center">
                        Bundle Inclusions
                    </div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center">1</div>
                    <div class="rms-pricing-table-cell">Start-Up</div>
                    <div class="rms-pricing-table-cell table-price">$59</div>
                    <div class="rms-pricing-table-cell">1 - 10 Staff</div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center">2</div>
                    <div class="rms-pricing-table-cell">Coporate</div>
                    <div class="rms-pricing-table-cell table-price">$118</div>
                    <div class="rms-pricing-table-cell">11 - 50 Staff</div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center">3</div>
                    <div class="rms-pricing-table-cell">&times;1 Agency / White Label</div>
                    <div class="rms-pricing-table-cell table-price">$177</div>
                    <div class="rms-pricing-table-cell ">Unlimited Staff &amp; resell to 1 client</div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center">4</div>
                    <div class="rms-pricing-table-cell">&times;5 Agency / White Label</div>
                    <div class="rms-pricing-table-cell table-price">$236</div>
                    <div class="rms-pricing-table-cell ">Resell to 5 Client</div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center">5</div>
                    <div class="rms-pricing-table-cell">&times;10 Agency / White Label</div>
                    <div class="rms-pricing-table-cell table-price">$295</div>
                    <div class="rms-pricing-table-cell ">Resell to 10 Client</div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center rms-pricing-table-cell--bottom-left">6</div>
                    <div class="rms-pricing-table-cell">&times;30 Agency / White Label</div>
                    <div class="rms-pricing-table-cell table-price">$354</div>
                    <div class="rms-pricing-table-cell">Resell to 30 Client</div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center rms-pricing-table-cell--bottom-left">7</div>
                    <div class="rms-pricing-table-cell">&times;50 Agency / White Label</div>
                    <div class="rms-pricing-table-cell table-price">$413</div>
                    <div class="rms-pricing-table-cell ">Resell to 50 Client</div>
                </div>
                <div class="rms-pricing-table-row">
                    <div class="rms-pricing-table-cell text-center rms-pricing-table-cell--bottom-left">8</div>
                    <div class="rms-pricing-table-cell">Unlimited x Agency / White Label</div>
                    <div class="rms-pricing-table-cell table-price">$472</div>
                    <div class="rms-pricing-table-cell ">Resell to Unlimited Clients</div>
                </div>
            </div>
        </div>
        <footer class="rms-pricing-footnote mt-4">* You can now buy all additional Enterprise Codes at $29 each.
        </footer>

        <a class="btn buy-bundle-btn buy-bundle-btn--center mt-4"
           href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
           target="_blank">Buy AppSumo Bundle</a>
    </div>
</section>
<section style="background-color:#ffffff; position: relative; padding: 80px 0">
    <div class="rms-section-split rms-section-split--absolute" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #f5f6f8;"></path>
        </svg>
    </div>
    <div class="container">
        {% include "components/trustpilot-reviews-widget.twig" %}
    </div>
</section>


<div class="rms-section-split">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25" style="top: 21px; position: relative;">
        <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
              style="stroke-width:0; fill: #ffffff;"/>
    </svg>
</div>
<section class="section section--white section--white-label overflow-hidden" style="background: #f5f6f8;">
    <div class="container">
        <div class="rms-white-label__content">
            <div>
                <h2 class="rms-white-label-heading mb-4"><strong>With this bundle, you'll get lifetime access to our
                        powerful customer review platform, which includes a variety of features to help you collect,
                        manage, and display reviews, including:</strong></h2>
                <ul class="rms-bullet-list">
                    <li>A white-label / CNAME platform that you can <strong>brand with your own logo and
                            colours</strong></li>
                    <li>Agency <strong>branding settings</strong></li>
                    <li>A super admin dropdown for <strong>quick account switching</strong></li>
                </ul>
                <div class="rms-profits-addition mt-4" style="background: rgba(209, 209, 209, .35);">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-up-arrows.svg"
                         alt="An icon with three colorful arrows pointing upwards">
                    Plus, you'll get to set your own client pricing, so you can maximize your profits.
                </div>
            </div>
            <div class="rms-agency-mockup--laptop position-relative">
                <img class="rms-agency-mockup__image--laptop rms-agency-mockup__image--laptop"
                     src="https://assets.ratemyservice.io/images/rms-agency-laptop-mockup.webp"
                     alt="A mockup of a laptop with a screen showing white-label options">
            </div>
        </div>
    </div>
</section>

<section class="section section--gradient overflow-hidden position-relative overflow-hidden"
         style="background-image: url(/images/rms-landing-background-gradient.webp);">
    <div class="rms-section-split rms-section-split--absolute">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #FFF;"/>
        </svg>
    </div>
    <div class="container text-center">
        <h2 class="text-white mb-5"><strong>Buy a Bundle with at least x3 Codes (Enterprise) and Get Your Lifetime
                Access Today</strong></h2>
        <h3 class="text-white mb-5"><strong>With our white-label solution, your clients will never see our brand or
                receive emails from us. Instead,
                they'll see your branding and receive emails from your domain.</strong></h3>
        <a class="btn buy-bundle-btn buy-bundle-btn--center mt-4"
           href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
           target="_blank">Buy
            Bundle Now!</a>
    </div>
    <div class="rms-section-split--solid rms-section-split--absolute">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2568 55">
            <path d="M2568 0v55H0V0h1238.2c20.09 0 38.2 13.14 45.8 33.25C1291.6 13.14 1309.69 0 1329.78 0H2568Z"
                  style="stroke-width: 0; fill: #F5F6F8"/>
        </svg>
    </div>
</section>

<section class="section section--gray">
    <div class="container">
        <h2 class="text-center mb-5"><strong>How it works:</strong></h2>
        <div class="rms-appsumo-how-it-works">
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="/images/rms-icon-lifetime.svg" alt="An icon of a pink heart with a clock inside">
                </div>
                <h3>Purchase a <strong>lifetime code</strong>
                    bundle from <strong>AppSumo</strong>.</h3>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="/images/rms-icon-label.svg" alt="An icon of a blue label">
                </div>
                <h3><strong>Apply</strong> for <strong>the White-label
                        / CNAME Module</strong>.</h3>
                <a class="btn apply-btn apply-btn--center mt-4"
                   href="/white-label-application"
                   target="_blank">Buy
                    Apply Here!<img src="/images/blue-arrow.svg" alt="A blue arrow pointing to a button"></a>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="/images/rms-icon-customize.svg" alt="An icon of a yellow gear">
                </div>
                <h3><strong>Customize</strong> your ecosystem
                    with your <strong>own branding
                        and settings</strong>.</h3>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="/images/rms-icon-brand.svg" alt="An icon of a green coin">
                </div>
                <h3>Start selling our software
                    to your clients under
                    <strong>your own brand!</strong></h3>
            </div>
        </div>
    </div>
</section>
<div class="rms-section-split">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
        <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
              style="stroke-width:0; fill: #F5F6F8;"/>
    </svg>
</div>
<section class="section section--white overflow-hidden">
    <div class="container" style="max-width: 1060px;">
        <h2 class="rms-pricing-table-heading mb-4"><strong>Benefits of Using Our White Label Software:</strong></h2>
        <ul class="rms-bullet-list">
            <li class="mb-3"><strong>Seamless integration:</strong> Clients signing up with your domain URL will
                automatically be part of your
                ecosystem and have your branding. All system emails will be sent from your own domain.
            </li>
            <li class="mb-3"><strong>Comprehensive support:</strong> We provide email support to you and your clients
                with a generic email address.
            </li>
            <li class="mb-3"><strong>Flexible pricing:</strong> Unused codes don't expire, and you can transfer codes
                from cancelled accounts to new
                clients within 3 months of activation.
            </li>
            <li class="mb-3"><strong>Granular control:</strong> We can adjust the account levels of your clients to
                restrict the number of staff
                members and features they have access to.
            </li>
            <li class="mb-3"><strong>Easy account management:</strong> As the agency owner, you can easily switch
                between different clients' accounts
                using the Super Admin dropdown. You can also add yourself to clients' accounts to receive notifications.
            </li>
        </ul>
    </div>
</section>

<section class="section section--gradient overflow-hidden position-relative overflow-hidden"
         style="background-image: url(/images/rms-landing-background-gradient.webp); padding-bottom: 100px;">
    <div class="rms-section-split rms-section-split--absolute">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #FFF;"/>
        </svg>
    </div>
    <div class="container text-center">
        <a class="btn buy-bundle-btn buy-bundle-btn--center mt-4"
           href="https://appsumo.com/products/ratemyservice-app/#pricePlans"
           target="_blank">Buy
            Bundle Now!</a>
        <h2 class="text-white mt-5" style="font-size: 32px;"><strong>Visit <a href="/"
                                                                              style="color: #FFF !important; text-decoration: underline;">RateMyService</a>
                for more information</strong></h2>
    </div>
</section>
<div class="rms-agency">
    <div id="hover-strip" class="hover-strip d-flex justify-content-center align-items-center">
        <p class="mb-0 px-2"><strong>⭐ AppSumo Lifetime Deal Currently Running ⭐</strong></p>
        <a href="https://appsumo.com/products/ratemyservice-app/" target="_blank"
           class="hover-btn hover-btn--pink"><strong>AppSumo Lifetime Deal</strong></a>
    </div>
</div>


<script>
    var slider = tns({
        container: '.rms-slider',
        controlsPosition: 'bottom',
        navPosition: 'bottom',
        mouseDrag: true,
        autoplay: true,
        autoplayButtonOutput: false,
        controlsContainer: '#custom-control',
        items: 1,
        responsive: {
            600: {
                gutter: 20,
                items: 2
            },
            700: {
                items: 3,
                gutter: 30
            },
            900: {
                items: 5,
                gutter: 40
            }
        }
    });
</script>

</body>
</html>