<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer feedback from every email | Rate My Service</title>
    <link rel="icon" href="https://assets.ratemyservice.io/images/favicon-32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="customer feedback, customer satisfaction, customer satisfaction survey, CSAT, email signature survey, customer satisfaction email signature">
    <meta name="description"
          content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed">
    <meta property="og:title" content="Rate My Service"/>
    <meta property="og:description"
          content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed"/>
    <meta prefix="og: https://ratemyservice.io/privacy" property="og:type" content="website"/>
    <meta property="og:url" content="https://ratemyservice.io/privacy/"/>
    <meta property="og:image" content="https://ratemyservice.io/images/rms2-3.png"/>
    <meta property="og:locale" content="en_GB"/>
    <link rel="canonical" href="https://ratemyservice.io/privacy"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap_5.3-bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap_5.3-bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css?ver=1.0.21" type="text/css">
    <script type="application/ld+json" src="/schema/local-business.txt"></script>
    <script type="application/ld+json" src="/schema/website.txt"></script>

    {# Tracking Scripts #}
    {# Meta #}
    {% include "code-snippets/meta-tracking-pixel.twig" %}

    {# Google #}
    {% include "code-snippets/google-tracking-script.twig" %}

    {# PostHog #}
    {% include "code-snippets/posthog-tracking-script.twig" %}
</head>
<body>
<header>
    {% include "components/header.twig" %}
</header>

<section class="rms-agency-hero rms-agency-hero--ltd overflow-hidden"
         style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp);">
    <div class="position-relative z-1">
        <div class="rms-agency-hero__content business"
             style="padding: 12rem 3rem; grid-template-columns: 1fr; grid-template-rows: 1fr;">
            <div class="text-center">
                <h1 class="text-white"><strong>Privacy Policy</strong></h1>
                <h2 class="text-white"><strong>Like many businesses, we also collect information through cookies and
                        similar technologies.</strong></h2>

            </div>
        </div>
        <img class="section-split section-split--wave"
             src="/images/rms-section-split-wave-white.svg"
             alt="A wave pattern that splits two sections">
    </div>
</section>

<div id="privacy-policy" style="margin-top: 0;">
    <div class="container pad-container">
        <div class="row">
            <h2 id="cookies">COOKIES <a href="/privacy#cookies"><i class="fa fa-link" aria-hidden="true"></i></a></h2>

            <p>Cookies are small text files placed in your browser’s storage. They help us collect standard Internet log
                information and visitor behavior information. When you visit our websites, we may collect information
                from you automatically through cookies or similar technology</p>

            <p>
                For further information, visit <a href="https://allaboutcookies.org" target="_blank">https://allaboutcookies.org</a>
            </p>

            <h5 class="text-secondary" id="how-do-we-use-cookies">How do we use cookies? <a
                        href="/privacy#how-do-we-use-cookies"><i class="fa fa-link" aria-hidden="true"></i></a></h5>
            <p>We use cookies in a range of ways to improve your experience on our website, including:</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Purpose</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Keeping you signed in</td>
                    </tr>
                    <tr>
                        <td>Understanding how you use our website</td>
                    </tr>
                    <tr>
                        <td>Protect our website from malicious activities such as automated registrations and bots</td>
                    </tr>
                    <tr>
                        <td>Aggregate anonymous data to help us generate reports of usage such as geographic area,
                            device type, and browser type.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="text-secondary pt-4" id="what-type-of-cookies-do-we-use">What types of cookies do we use? <a
                        href="/privacy#what-type-of-cookies-do-we-use"><i class="fa fa-link" aria-hidden="true"></i></a>
            </h5>

            <p>There are a number of different types of cookies, however, our website uses:</p>

            <p><i class="text-light-emphasis">Functionality</i> – Our company uses these cookies so that we recognize
                you on our website and remember your previously selected preferences. These could include what language
                you prefer and location you are in. A mix of first-party and third-party cookies are used.</p>

            <p><i class="text-light-emphasis">Aggregation</i> – Our Company uses these cookies to collect information
                about your visit to our website, the content you viewed, the links you followed and information about
                your browser, device, and your IP address. Our Company sometimes shares some limited aspects of this
                data with third parties for security purposes. We may also share online data collected through
                aggregation cookies with other GDPR compliant sub-processors.</p>

            <h5 class="text-secondary" id="how-to-manage-cookies">How to manage cookies <a
                        href="/privacy#how-to-manage-cookies"><i class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>You can set your browser to not accept cookies, and the above website tells you how to remove cookies
                from your browser. However, in a few cases, some of our website features may not function as a
                result.</p>

            <h2 id="privacy-policy-other-website">PRIVACY POLICY OF OTHER WEBSITES <a
                        href="/privacy#privacy-policy-other-website"><i class="fa fa-link" aria-hidden="true"></i></a>
            </h2>

            <p>Our website contains links to other websites. Our privacy policy applies only to our website, so if you
                click on a link to another website, you should read their privacy policy.</p>

            <h2 id="information-collected-from-other-sources">INFORMATION COLLECTED FROM OTHER SOURCES <a
                        href="/privacy#information-collected-from-other-sources"><i class="fa fa-link"
                                                                                    aria-hidden="true"></i></a></h2>

            <p>We may collect limited data from public databases, marketing partners, and other outside sources.</p>

            <p>We may obtain information about you from other sources, such as public databases, joint marketing
                partners, as well as from other third parties. Examples of the information we receive from other sources
                include: social media profile information; marketing leads and search results and links, including paid
                listings (such as sponsored links).</p>

            <h2 id="how-we-use-your-information">HOW DO WE USE YOUR INFORMATION? <a
                        href="/privacy#how-we-use-your-information"><i class="fa fa-link" aria-hidden="true"></i></a>
            </h2>

            <p>In Short: We process your information for purposes based on legitimate business interests, the
                fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</p>

            <p>We use personal information collected via our Sites for a variety of business purposes described below.
                We process your personal information for these purposes in reliance on our legitimate business interests
                (<i class="text-light-emphasis">“Business Purposes”</i>), in order to enter into or perform a contract
                with you (<i class="text-light-emphasis">“Contractual”</i>), with your consent (<i
                        class="text-light-emphasis">“Consent”</i>), and/or for compliance with our legal obligations (<i
                        class="text-light-emphasis">“Legal Reasons”</i>). We indicate the specific processing grounds we
                rely on next to each purpose listed below.</p>

            <h5 class="text-secondary" id="information-usage">We use the information we collect or receive: <a
                        href="/privacy#information-usage"><i class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>To send you marketing and promotional communications. We and/or our third party marketing partners may
                use the personal information you send to us for our marketing purposes, if this is in accordance with
                your marketing preferences. You can opt-out of our marketing emails at any time (see the “WHAT ARE YOUR
                PRIVACY RIGHTS” below).</p>

            <p>To send administrative information to you. We may use your personal information to send you product,
                service and new feature information and/or information about changes to our terms, conditions, and
                policies.</p>

            <p>Fulfill and manage your orders. We may use your information to fulfill and manage your orders, payments,
                returns, and exchanges made through the Sites.</p>

            <p>Request Feedback. We may use your information to request feedback and to contact you about your use of
                our Sites.</p>

            <p>To enforce our terms, conditions and policies.</p>

            <p>To respond to legal requests and prevent harm. If we receive a subpoena or other legal request, we may
                need to inspect the data we hold to determine how to respond.</p>

            <p>For other Business Purposes. We may use your information for other Business Purposes, such as data
                analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to
                evaluate and improve our Sites, products, services, marketing and your experience.</p>

            <h2 id="will-your-information-be-shared-with-anyone">WILL YOUR INFORMATION BE SHARED WITH ANYONE? <a
                        href="/privacy#will-your-information-be-shared-with-anyone"><i class="fa fa-link"
                                                                                       aria-hidden="true"></i></a></h2>

            <p>In Short: We only share information with your consent, to comply with laws, to protect your rights, or to
                fulfill business obligations.</p>

            <p>We may process or share data based on the following legal basis:</p>

            <p><i class="text-light-emphasis">Consent:</i> We may process your data if you have given us specific
                consent to use your personal information for a specific purpose.</p>

            <p><i class="text-light-emphasis">Legitimate Interests:</i> We may process your data when it is reasonably
                necessary to achieve our legitimate business interests.</p>

            <p><i class="text-light-emphasis">Performance of a Contract:</i> Where we have entered into a contract with
                you, we may process your personal information to fulfill the terms of our contract.</p>

            <p><i class="text-light-emphasis">Legal Obligations:</i> We may disclose your information where we are
                legally required to do so in order to comply with applicable law, governmental requests, a judicial
                proceeding, court order, or legal process, such as in response to a court order or a subpoena (including
                in response to public authorities to meet national security or law enforcement requirements).</p>

            <p><i class="text-light-emphasis">Vital Interests:</i> We may disclose your information where we believe it
                is necessary to investigate, prevent, or take action regarding potential violations of our policies,
                suspected fraud, situations involving potential threats to the safety of any person and illegal
                activities, or as evidence in litigation in which we are involved.</p>

            <p>More specifically, we may need to process your data or share your personal information in the following
                situations:</p>

            <p><i class="text-light-emphasis">Vendors, Consultants and Other Third-Party Service Providers.</i> We may
                share your data with third party vendors, service providers, contractors or agents who perform services
                for us or on our behalf and require access to such information to do that work. Examples include:
                payment processing, data analysis, email delivery, hosting services, customer service and marketing
                efforts. We may allow selected third parties to use tracking technology on the Sites, which will enable
                them to collect data about how you interact with the Sites over time. This information may be used to,
                among other things, analyze and track data, determine the popularity of certain content and better
                understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of
                your information with third parties for their promotional purposes.</p>

            <p><i class="text-light-emphasis">Business Transfers.</i> We may share or transfer your information in
                connection with, or during negotiations of, any merger, sale of company assets, financing, or
                acquisition of all or a portion of our business to another company.</p>

            <p><i class="text-light-emphasis">Business Partners.</i> We may share your information with our business
                partners to offer you certain products, services or promotions.</p>

            <p>List of Business Partners and Purpose of sharing:</p>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Business Partner</th>
                        <th scope="col">Contact Information</th>
                        <th scope="col">Type of Data Used</th>
                        <th scope="col">Why Data Needs to be Shared</th>
                        <th scope="col">Purpose of Processor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#  Google OAuth2 #}
                    <tr>
                        <td>
                            Google OAuth2<br/>
                            <a href="https://policies.google.com/privacy?hl=en" target="_blank">https://policies.google.com/privacy?hl=en</a><br/>
                            RateMyService use and transfer of information received from Google APIs to any other app
                            will adhere to <a
                                    href="https://developers.google.com/terms/api-services-user-data-policy#additional_requirements_for_specific_api_scopes"
                                    target="_blank">Google API Services User Data Policy</a>, including the Limited
                            Use
                            requirements.
                        </td>
                        <td>
                            <a href="https://about.google/contact-google/" target="_blank">https://about.google/contact-google/</a>
                        </td>
                        <td>
                            Name and email of contacts.
                        </td>
                        <td>
                            To import Staff Members from the client's Google Company to enable on the RateMyService
                            application for the use of Customer Feedback via. the email signature.
                        </td>
                        <td>
                            To act as an authentication gateway to access client's account information
                        </td>
                    </tr>
                    {# Microsoft Azure AD OAuth2 #}
                    <tr>
                        <td>
                            Azure AD (Microsoft) OAuth2<br/>
                            <a href="https://azure.microsoft.com/en-gb/support/legal/privacy-data-management/"
                               target="_blank">https://azure.microsoft.com/en-gb/support/legal/privacy-data-management/</a>
                        </td>
                        <td>
                            <a href="https://azure.microsoft.com/en-gb/contact/" target="_blank">https://azure.microsoft.com/en-gb/contact/</a>
                        </td>
                        <td>
                            Name and email of contacts
                        </td>
                        <td>
                            To import Staff Members from the client's Office365 account to enable on the
                            RateMyService
                            application for the use of Customer Feedback via. the email signature
                        </td>
                        <td>
                            To act as an authentication gateway to access client's account information
                        </td>
                    </tr>
                    {#  Outscraper #}
                    <tr>
                        <td>
                            Outscraper<br/>
                            <a href="https://outscraper.com/privacy/"
                               target="_blank">https://outscraper.com/privacy/</a>
                        </td>
                        <td>
                            <a href="https://outscraper.com/contact-us/" target="_blank">https://outscraper.com/contact-us/</a>
                        </td>
                        <td>
                            Google Company ID
                        </td>
                        <td>
                            To indicate/specify which Company ID the reviews should be fetched from
                        </td>
                        <td>
                            To provide the chosen Company ID's reviews
                        </td>
                    </tr>
                    {#  Stripe #}
                    <tr>
                        <td>
                            Stripe<br/>
                            <a href="https://stripe.com/en-gb-us/privacy" target="_blank">https://stripe.com/en-gb-us/privacy</a>
                        </td>
                        <td>
                            <a href="https://stripe.com/contact" target="_blank">https://stripe.com/contact</a>
                        </td>
                        <td>
                            Name, Surname, Card credentials
                        </td>
                        <td>
                            To create a customer profile and link card credentials to the Stripe profile
                        </td>
                        <td>
                            To make payments
                        </td>
                    </tr>
                    {# Mandrill / Mailchimp #}
                    <tr>
                        <td>
                            Mandrill/Mailchimp<br/>
                            <a href="https://mailchimp.com/legal/" target="_blank">https://mailchimp.com/legal/</a>
                        </td>
                        <td>
                            <a href="https://mailchimp.com/contact/"
                               target="_blank">https://mailchimp.com/contact/</a>
                        </td>
                        <td>
                            Everything pertaining to emailing - Email Address, Staff Member Name, Data in
                            Notifications
                            such as Customer Feedback (customer name, message, rating), Customer Reviews (fetched
                            Google
                            Review)
                        </td>
                        <td>
                            To create an email
                        </td>
                        <td>
                            To act as an email server to send emails
                        </td>
                    </tr>
                    {# Google Maps API #}
                    <tr>
                        <td>
                            Google Maps API<br/>
                            <a href="https://policies.google.com/privacy?hl=en" target="_blank">https://policies.google.com/privacy?hl=en</a>
                        </td>
                        <td>
                            <a href="https://about.google/contact-google/" target="_blank">https://about.google/contact-google/</a>
                        </td>
                        <td>
                            Name of Google Company and/or chosen Company Id, URL, identifier, company rating average
                            and
                            review count
                        </td>
                        <td>
                            1. For the use of the client to determine/verify which Google Company they want to
                            receive
                            reviews for.<br/>
                            2. For the use of the functionality to fetch reviews from the specified Google Company
                            using
                            Outscraper
                        </td>
                        <td>
                            Provide an autocomplete list of Google Companies that are similar in same with their
                            Company
                            Id, rating average and review count
                        </td>
                    </tr>
                    {# Tawk.to #}
                    <tr>
                        <td>
                            Tawk.to<br/>
                            <a href="https://www.tawk.to/legal/" target="_blank">https://www.tawk.to/legal/</a>
                        </td>
                        <td>
                            <a href="https://www.tawk.to/contact-us/"
                               target="_blank">https://www.tawk.to/contact-us/</a>
                        </td>
                        <td>
                            Name, Email Address.
                        </td>
                        <td>
                            To create support ticket or start online chat service using Tawk.to.
                        </td>
                        <td>
                            Provide users support in real time or allow them to create a support ticket.
                        </td>
                    </tr>
                    {# Google ReCaptcha #}
                    <tr>
                        <td>
                            ReCaptcha<br/>
                            <a href="https://policies.google.com/privacy?hl=en" target="_blank">https://policies.google.com/privacy?hl=en</a>
                        </td>
                        <td>
                            <a href="https://about.google/contact-google/" target="_blank">https://about.google/contact-google/</a>
                        </td>
                        <td>
                            IP address. Resources loaded,
                            including styles or images.
                            User Google account information.
                            Behavior, like scrolling on a page,
                            moving the mouse, clicking on
                            links, time spent completing
                            forms, and typing patterns.

                            <a href="https://www.google.com/recaptcha/about/">https://www.google.com/recaptcha/about/</a>
                        </td>
                        <td>
                            To protect the website from spam, abuse and to identify bots and other malicious
                            software.
                        </td>
                        <td>
                            To protect the website from spam, abuse and to identify bots and other malicious
                            software.
                        </td>
                    </tr>
                    {# Google Tag Manager #}
                    <tr>
                        <td>
                            Google Tag Manager<br/>
                            <a href="https://policies.google.com/privacy?hl=en" target="_blank">https://policies.google.com/privacy?hl=en</a>
                        </td>
                        <td>
                            <a href="https://about.google/contact-google/" target="_blank">https://about.google/contact-google/</a>
                        </td>
                        <td>
                            Google Tag Manager may collect
                            some aggregated data about tag
                            firing. This data does not include
                            user IP addresses or any
                            measurement identifiers
                            associated with a particular
                            individual.
                            <a href="https://support.google.com/
                            tagmanager/answer/9323295
                            ?hl=en" target="_blank">https://support.google.com/
                                tagmanager/answer/9323295
                                ?hl=en</a>
                        </td>
                        <td>
                            To improve the customer website journey across different devices.
                        </td>
                        <td>
                            Tag Manager helps to optimize tag deployment, reduce tag configuration errors and allows
                            you
                            to modify and deploy tags on your site instantly from a web-based interface.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h2 id="how-long-do-we-keep-your-information">HOW LONG DO WE KEEP YOUR INFORMATION? <a
                        href="/privacy#how-long-do-we-keep-your-information"><i class="fa fa-link"
                                                                                aria-hidden="true"></i></a></h2>

            <p>In Short: We keep your information for as long as necessary to fulfill the purposes outlined in this
                privacy policy unless otherwise required by law.</p>

            <p>We will only keep your personal information for as long as it is necessary for the purposes set out in
                this privacy policy, unless a longer retention period is required or permitted by law (such as tax,
                accounting or other legal requirements). No purpose in this policy will require us keeping your personal
                information for longer than 3 years, or from the moment of last given consent.</p>

            <p>When we have no ongoing legitimate business need to process your personal information, we will either
                delete or anonymize it, or, if this is not possible (for example, because your personal information has
                been stored in backup archives), then we will securely store your personal information and isolate it
                from any further processing until deletion is possible.</p>

            <h2 id="what-are-your-privacy-rights">WHAT ARE YOUR PRIVACY RIGHTS? <a
                        href="/privacy#what-are-your-privacy-rights"><i class="fa fa-link" aria-hidden="true"></i></a>
            </h2>

            <p>In Short: In some regions, such as the European Economic Area, you have rights that allow you greater
                access to and control over your personal information. You may review, change, or terminate your account
                at any time.</p>

            <p>In some regions (like the European Economic Area), you have certain rights under applicable data
                protection laws. These may include the right (i) to request access and obtain a copy of your personal
                information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal
                information; and (iv) if applicable, to data portability. In certain circumstances, you may also have
                the right to object to the processing of your personal information. To make such a request, please use
                the contact details provided below. We will consider and act upon any request in accordance with
                applicable data protection laws.</p>

            <h2 id="gdpr-compliance-statement">GDPR COMPLIANCE STATEMENT <a href="/privacy#gdpr-compliance-statement"><i
                            class="fa fa-link" aria-hidden="true"></i></a></h2>

            <p>We respect and comply with the EU General Data Protection Regulations (GDPR).</p>

            <p>Some of the key ways we comply with these regulations are:</p>

            <h5 class="text-secondary-emphasis" id="gdpr-consent">Consent <a href="/privacy#gdpr-consent"><i
                            class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>We explain what you’re consenting to clearly and without <i>‘legalese’</i>, and ask that you explicitly
                consent
                to contact from us.</p>

            <h5 class="text-secondary-emphasis" id="gdpr-breach-notification">Breach Notification <a
                        href="/privacy#gdpr-breach-notification"><i class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>In the event of a breach we will notify affected users within 24 hours of first having become aware of
                the breach.</p>

            <h5 class="text-secondary-emphasis" id="gdpr-right-to-access">Right to Access <a
                        href="/privacy#gdpr-right-to-access"><i class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>Users can request confirmation as to whether or not personal data concerning them is being processed,
                where and for what purpose. Further, we shall provide a copy of the personal data, free of charge, in an
                electronic format.</p>

            <h5 class="text-secondary-emphasis" id="gdpr-right-to-be-forgotten">Right to be Forgotten <a
                        href="/privacy#gdpr-right-to-be-forgotten"><i class="fa fa-link" aria-hidden="true"></i></a>
            </h5>

            <p>Once we have compared your (the subjects') rights to "the public interest in the availability of the
                data", we may delete your personal data where you have requested this.</p>

            <h5 class="text-secondary-emphasis" id="gdpr-data-portability">Data Portability <a
                        href="/privacy#gdpr-data-portability"><i class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>We allow you to receive the personal data concerning you, which we will provide in a <i>'commonly used
                    and
                    machine readable format'</i> and you have the right to transmit that data to <i>‘controller’</i>.
            </p>

            <h5 class="text-secondary-emphasis" id="gdpr-privacy-by-design">Privacy by Design <a
                        href="/privacy#gdpr-privacy-by-design"><i class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>We implement appropriate technical and organisational measures, in an effective way, in order to meet the
                requirements of this Regulation and protect the rights of data subjects'. We hold and process only the
                data absolutely necessary for the completion of our duties (data minimisation), as well as limiting the
                access to personal data to those needing to act out the processing.</p>

            <p>If we are relying on your consent to process your personal information, you have the right to withdraw
                your consent at any time. Please note however that this will not affect the lawfulness of the processing
                before its withdrawal.</p>

            <p>If you are resident in the European Economic Area and you believe we are unlawfully processing your
                personal information, you also have the right to complain to your local data protection supervisory
                authority. You can find their contact details here:
                <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm" target="_blank">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>
            </p>

            <h2 id="do-we-make-updates-to-this-policy">DO WE MAKE UPDATES TO THIS POLICY? <a
                        href="/privacy#do-we-make-updates-to-this-policy"><i class="fa fa-link" aria-hidden="true"></i></a>
            </h2>

            <p>In Short: Yes, we will update this policy as necessary to stay compliant with relevant laws.</p>

            <p>
                We may update this privacy policy from time to time. The updated version will be indicated by an updated
                <i>“Revised”</i> date and the updated version will be effective as soon as it is accessible. If we make
                material changes to this privacy policy, we may notify you either by prominently posting a notice of
                such changes or by directly sending you a notification. We encourage you to review this privacy policy
                frequently to be informed of how we are protecting your information.
            </p>

            <h2 id="how-can-you-contact-us-about-this-policy">HOW CAN YOU CONTACT US ABOUT THIS POLICY? <a
                        href="/privacy#how-can-you-contact-us-about-this-policy"><i class="fa fa-link"
                                                                                    aria-hidden="true"></i></a></h2>

            <p>
                If you have questions or comments about this policy, you may email us at <a
                        href="mailto:gdpr@ratemyservice.io?subject=Rate My Service Privacy Policy Enquiry">gdpr@ratemyservice.io</a>
                or by post
                to:
            </p>
            <pre>
11 Vlei Street,
Durbanville,
Cape Town,
South Africa,
7750
            </pre>

            <h5 class="text-secondary-emphasis" id="how-to-contact-the-dpo">How to contact the Data Protection Officer
                <a href="/privacy#how-to-contact-the-dpo"><i class="fa fa-link" aria-hidden="true"></i></a></h5>

            <p>
                Should you wish to report a complaint or if you feel that our company has not addressed your concern in
                a
                satisfactory manner, you may contact our Data Protection Officer. In written:
            </p>

            <p>Dominic, Meulemans of DPO</p>
            <pre>
11 Vlei Street,
Durbanville,
Cape Town,
South Africa,
7750
            </pre>

            <p>
                In the case you need additional assistance as a result of concern in regards to our DPO decision, you
                have a legal right to contact the European Data Protection Board in your country of residence. For more
                information about Member Organisations please follow the link:
                <a href="https://edpb.europa.eu/about-edpb/board/members_en" target="_blank">https://edpb.europa.eu/about-edpb/board/members_en</a>
            </p>

            <p>Last update: 2023/11/21</p>
        </div>
    </div>
</div>

<footer>
    {% include "components/footer.twig" %}
</footer>

<script>
    // listen for hash changes and add class to the element with matching id
    let currentSelectedElement;

    function setSelectedItem(item) {
        if (currentSelectedElement) {
            currentSelectedElement.classList.remove('text-secondary');
        }
        if (item) {
            currentSelectedElement = item;
            currentSelectedElement.classList.add('text-secondary');
        }
    }

    window.addEventListener('hashchange', function () {
        const hash = window.location.hash.substring(1);
        const element = document.getElementById(hash);
        setSelectedItem(element);
    });

    // set the selected item on page load
    const hash = window.location.hash.substring(1);
    const element = document.getElementById(hash);
    setSelectedItem(element);
</script>
</body>
</html>
