<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apply for RateMyService White-Label</title>
    <link rel="icon" href="https://assets.ratemyservice.io/images/favicon-32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="customer feedback, customer satisfaction, customer satisfaction survey, CSAT, email signature survey, customer satisfaction email signature">
    <meta name="description"
          content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed">
    <meta property="og:title" content="Rate My Service"/>
    <meta property="og:description"
          content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed"/>
    <meta prefix="og: https://ratemyservice.io/cookies" property="og:type" content="website"/>
    <meta property="og:url" content="https://ratemyservice.io/marketing-agency-ltd-quora"/>
    <meta property="og:image" content="https://ratemyservice.io/images/og-image-banner.webp"/>
    <meta property="og:locale" content="en_GB"/>
    <link rel="canonical" href="https://ratemyservice.io/cookies"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap_5.3-bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/white-label-application-form-validation.js"></script>
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap_5.3-bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css?ver=1.0.21" type="text/css">
    <script type="application/ld+json" src="/schema/local-business.txt"></script>
    <script type="application/ld+json" src="/schema/website.txt"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptchaSiteKey }}"></script>

    {# Tracking Scripts #}
    {# Meta #}
    {% include "code-snippets/meta-tracking-pixel.twig" %}

    {# Google #}
    {% include "code-snippets/google-tracking-script.twig" %}

    {# PostHog #}
    {% include "code-snippets/posthog-tracking-script.twig" %}

    <style>
        #contact-us label {
            line-height: 1;
            font-size: 16px;
            margin-bottom: 0;
        }

        #contact-us label.error {
            font-size: 14px;
            display: block;
            margin-top: 5px;
        }

        #contact-us label:empty {
            display: none;
        }

        .form-check-input {
            top: 3px;
            position: relative;
        }

        .form-check-input:checked {
            background-color: #fe0056;
            border-color: #fe0056;
        }

        .application-counter {
            color: #fe0056;
            border: 2px solid #fe0056;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            padding: 4px 10px;
            border-radius: 50px;
            width: 30px;
            height: 30px;
        }

        .application-counter-label {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
        }

        .dashboard-url-sample {
            font-size: 14px;
            font-style: italic;
            font-weight: 400 !important;
            display: block;
            margin-top: 5px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
    </style>
</head>
<body>
<header>
    {% set pageName = 'RateMyService White-Label Application' %}
    {% include "components/header.twig" %}
</header>
<div id="contact-us" style="padding-top: 50px; background-color: #F5F6F8; margin-bottom: 0;">
    <div class="container contact-us-container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 contact-section">
                <h3>
                    RateMyService White-Label Application
                </h3>
                <h4 class="mb-4 text-center text-md-start">
                    Fill out the application form today and offer your clients a fully branded experience.
                </h4>
                <div class="row mb-3">
                    <div class="col-2">
                        <img src="/images/rms-email-icon.svg" alt="Email Icon"
                             style="width: 100px; position: relative; top: -10px; max-width: fit-content;">
                    </div>
                    <div class="col-10">
                        <p>For any enquiries contact:</p>
                        <a href="mailto:support@ratemyservice.io" target="_blank">support@ratemyservice.io</a>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-2">
                        <img src="/images/rms-megaphone-icon.svg" alt="Megaphone Icon"
                             style="width: 100px; position: relative; top: -10px; max-width: fit-content;">
                    </div>
                    <div class="col-10">
                        <p>See what our clients have to<br> say on Trustpilot!</p>
                        <a class="btn apply-btn apply-btn--center mt-2"
                           href="https://www.trustpilot.com/review/ratemyservice.io" target="_blank">
                            Click here
                            <img src="https://assets.ratemyservice.io/images/blue-arrow.svg"
                                 alt="A blue arrow pointing to a button">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card mb-5 inclusive p-4">
                    {% if request is defined and request.success is defined %}
                        {% if (request.success == 'false') %}
                            <div class="alert alert-danger"><strong>Your message was not sent.</strong> Please refresh
                                and try again!
                            </div>
                        {% else %}
                            <div class="alert alert-success"><strong>Thank you.</strong> Your email has been sent
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if (request.captcha) %}
                        <div class="alert alert-danger"><strong>Google reCaptcha failed.</strong> Please refresh and try
                            again!
                        </div>
                    {% endif %}
                    <form method="post" action="/api/white-label-application/send-email" id="applicationForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
                        <div class="mb-4">
                            <div class="application-counter-label">
                                <span class="application-counter">1</span>
                                <label for="dashboardUrl" class="form-label fw-bold">RateMyService Dashboard URL *<br>
                                    <span class="dashboard-url-sample">E.g. app.ratemyservice.io/org300542/setup/customize</span>
                                </label>
                            </div>
                            <input name="dashboardUrl" id="dashboardUrl" type="text" placeholder="Dashboard URL"
                                   class="form-control" required>
                            <label id="dashboardUrl-error" class="error text-danger" for="dashboardUrl"></label>
                        </div>

                        <div class="mb-4">
                            <div class="application-counter-label">
                                <span class="application-counter">2</span>
                                <label for="companyName" class="form-label fw-bold">Company Name *</label>
                            </div>
                            <input name="companyName" id="companyName" type="text" placeholder="Company Name"
                                   class="form-control" required>
                            <label id="companyName-error" class="error text-danger" for="companyName"></label>
                        </div>

                        <div class="mb-4">
                            <div class="application-counter-label">
                                <span class="application-counter">3</span>
                                <label for="email" class="form-label fw-bold">Email Address *</label>
                            </div>
                            <input name="email" id="email" type="email" placeholder="Email Address" class="form-control"
                                   required>
                            <label id="email-error" class="error text-danger" for="email"></label>
                        </div>

                        <div class="mb-4">
                            <div class="application-counter-label">
                                <span class="application-counter">4</span>
                                <label for="codes" class="form-label fw-bold">Provide all Purchased Codes (if
                                    applicable)</label>
                            </div>
                            <textarea name="codes" id="codes" class="form-control" rows="5"
                                      placeholder="Enter purchased codes"></textarea>
                        </div>

                        <div class="mb-4">
                            <div class="application-counter-label">
                                <span class="application-counter">5</span>
                                <label for="domainName" class="form-label fw-bold">Domain Name (used for the
                                    White-Label)
                                    *</label>
                            </div>
                            <input name="domainName" id="domainName" type="text" placeholder="Domain Name"
                                   class="form-control" required>
                            <label id="domainName-error" class="error text-danger" for="domainName"></label>
                        </div>

                        <div class="mb-4 mt-4">
                            <div class="application-counter-label">
                                <span class="application-counter">6</span>
                                <label for="subdomain" class="form-label fw-bold">On which sub-domain do you want to
                                    install
                                    the white label? *</label>
                            </div>
                            <div class="card card-body" style="background: #FAFAFA; border: 1px solid #CBCBCB;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="subdomain"
                                                   value="rate.yourdomain.com" id="rate" required>
                                            <label class="form-check-label" for="rate">rate.yourdomain.com</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="subdomain"
                                                   value="feedback.yourdomain.com" id="feedback" required>
                                            <label class="form-check-label"
                                                   for="feedback">feedback.yourdomain.com</label>
                                        </div>
                                    </div>
                                </div>
                                <label id="subdomain-error" class="error text-danger" for="subdomain"></label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="application-counter-label">
                                <span class="application-counter">7</span>
                                <label for="fromEmail" class="form-label fw-bold">Please enter the FROM and REPLY-TO
                                    Email
                                    Address to be used *</label>
                            </div>
                            <input name="fromEmail" id="fromEmail" type="email"
                                   placeholder="FROM and REPLY-TO Email Address" class="form-control" required>
                            <label id="fromEmail-error" class="error text-danger" for="fromEmail"></label>
                        </div>
                        <div>
                            <input name="sendEmail" type="submit" value="Apply" class="form-control contact-us-but">
                        </div>
                        {{ "applicationForm" | formToken | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#applicationForm').submit(function (event) {
        event.preventDefault();
        if ($("#applicationForm").valid()) {
            grecaptcha.ready(function () {
                grecaptcha.execute('{{ recaptchaSiteKey }}', {action: 'application_email'}).then(function (token) {
                    $('#applicationForm').prepend('<input type="hidden" name="token" value="' + token + '">');
                    $('#applicationForm').prepend('<input type="hidden" name="action" value="application_email">');
                    $('#applicationForm').unbind('submit').submit();
                });
            });
        }
    });
</script>
<footer>
    {% include "components/footer.twig" %}
</footer>
</body>
</html>

