<div id="clients-voice">
    <div class="rms-section-split rms-section-split--absolute" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #fff;"></path>
        </svg>
    </div>
    <div class="container pad-container">
        <div class="row">
            <div class="1st-row">
                <div class="div-head-mini">
                    <p>INCREASE CUSTOMER SATISFACTION</p>
                </div>
                <div class="div-head">
                    <h3>Giving Your Clients a Voice</h3>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="svg-item-2">
                            <img src="https://assets.ratemyservice.io/images/rms-icon-increases-loyalty.svg"
                                 alt="An icon of a heart" loading="lazy">
                        </div>
                        <div class="heading-item">
                            <p>Increases Loyalty</p>
                        </div>
                        <div class="parag-item">
                            <p>59% customers will ditch a brand after several poor experiences. 1 in 5 would do so after
                                a single bad experience</p>
                            <p>- PwC -</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="svg-item-2">
                            <img src="https://assets.ratemyservice.io/images/rms-icon-boost-trust.svg"
                                 alt="An icon of a star" loading="lazy">
                        </div>
                        <div class="heading-item">
                            <p>Boosts Trust</p>
                        </div>
                        <div class="parag-item">
                            <p>81% of consumers say brand trust is a deal-breaker or a deciding factor in their purchase
                                decisions</p>
                            <p>- Edelman -</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="svg-item-2">
                            <img src="https://assets.ratemyservice.io/images/rms-icon-grows-sales.svg"
                                 alt="An icon of a crown" loading="lazy">
                        </div>
                        <div class="heading-item">
                            <p>Grows Sales</p>
                        </div>
                        <div class="parag-item">
                            <p>Consumers are prepared to spend 17% more with a brand if it delivers excellent
                                service</p>
                            <p>- American Express -</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="https://app.ratemyservice.io/signup" class="free-trial-btn w-auto p-3 my-3">
            <span>Get more 5-star Reviews</span>
        </a>
        <div class=""><span class="cancel-message">Cancel Any Time • No Credit Card Required</span></div>

    </div>
</div>
</div>