
<div class="footer" style="position: relative;">
    <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0" style="stroke-width: 0; fill: {% if footerSvgFill == 'white' %}#ffffff{% elseif footerSvgFill == 'grey' %}#f5f6f8{% else %}#f5f6f8{% endif %};"></path>
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="row hoverable d-flex align-items-center">
                <div class="col-12 col-md-6 d-flex flex-column align-items-center text-center">
                    <h2 class="fw-bold tn-footer__cta">Improve Customer Service With Ease</h2>
                    <div class="row justify-content-center hoverable">
                        <a class="free-trial-btn w-auto p-3 my-3 mx-3" href="https://app.trustninja.io/signup">
                            Start 14-Day FREE Trial
                        </a>
                    </div>
                    <div class="row justify-content-center hoverable mt-4">
                        <p class="ts-n-cs">
                            By applying for a free trial, you are confirming that you agree with our
                            <a class="text-decoration-underline" title="Terms of Service" href="/tos" rel="nofollow">
                                <strong>Terms of Service</strong></a> and
                            <a class="text-decoration-underline" title="Privacy Policy" href="/privacy"
                               rel="nofollow"><strong>Privacy Policy</strong></a>
                            <br/>
                            <br/>
                            <span> Have any questions? <a class="text-decoration-underline" title="Terms of Service"
                                                          href="/faq"
                                                          rel="nofollow"><strong>Visit our FAQ here</strong></a></span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                    <div class="GDPR-compliant-badge pb-4">
                        <img src="/images/GDPR-compliant-badge.png"
                             alt="An image of a shield with a checkbox inside, surrounded by stars">
                    </div>
                    <div style="text-align: center">
                        <p>To remove personal information from TrustNinja.<br>
                            <span>Send us an email: <a href="mailto:gdpr@trustninja.io" style="text-decoration:underline 1px;"><strong>gdpr@trustninja.io</strong></a></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer-svg-1"></div>
            </div>
        </div>
    </div>
</div>
