<nav class="navbar navbar-expand-lg navbar-light add-border ps-0 ps-lg-3 py-3">
    <div class="container-fluid px-sm-3">
        <a class="navbar-brand me-0" href="/">
            <img class="site-logo" alt="Rate My Service Logo"
                 src="https://assets.ratemyservice.io/images/rms-logo.svg">
        </a>
        <div>
            <a class="d-lg-none try-it-free-header-but" href="https://app.ratemyservice.io/signup">Get started free</a>
            <button class="navbar-toggler px-0 border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu"
                 aria-labelledby="offcanvasMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasMenuLabel"><img class="site-logo"
                                                                             alt="Rate My Service Logo"
                                                                             src="https://assets.ratemyservice.io/images/rms-logo.svg">
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        <ul class="navbar-nav">
                            <li class="icon-nav nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="featuresDropdown" role="button"
                                   data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Features
                                </a>
                                <div class="icon-nav-dropdown dropdown-menu pb-0">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <a href="/#white-label-cname" class="icon-nav-link dropdown-link">
                                                <div>
                                                    <div class="text-heading">
                                                        <img src="https://assets.ratemyservice.io/images/rms-white-label.svg"
                                                             alt="White-label / CNAME Module" id="menu-icon">
                                                        White-label / CNAME
                                                        Module
                                                    </div>
                                                    <div class="descriptive-text">
                                                        Ideal for Agencies, Franchises or Enterprises!
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="/#customize-your-widget" class="icon-nav-link dropdown-link">
                                                <div>
                                                    <div class="text-heading">
                                                        <img src="https://assets.ratemyservice.io/images/rms-customizable-widget.svg"
                                                             alt="Customizable Widget" id="menu-icon"> Customizable
                                                        Widget
                                                    </div>
                                                    <div class="descriptive-text">
                                                        Customize your widget to fit your brand, draw attention, leave a
                                                        lasting impression, and encourage positive reviews that draw in
                                                        more clientele.
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="/#languages" class="icon-nav-link dropdown-link">
                                                <div>
                                                    <div class="text-heading">
                                                        <img src="https://assets.ratemyservice.io/images/rms-languages.svg" alt="Languages"
                                                             id="menu-icon">
                                                        Languages
                                                    </div>
                                                    <div class="descriptive-text">
                                                        Display your survey and call-to-action in the language of your
                                                        choosing
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <a href="/#track-feedback" class="icon-nav-link dropdown-link">
                                                <div>
                                                    <div class="text-heading">
                                                        <img src="https://assets.ratemyservice.io/images/rms-customer-feedback.svg"
                                                             alt="Customer Feedback" id="menu-icon"> Customer Feedback
                                                    </div>
                                                    <div class="descriptive-text">
                                                        Responding to feedback is critical to maintain healthy client
                                                        relationships and prevent dissatisfaction
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="/#get-more-reviews" class="icon-nav-link dropdown-link">
                                                <div>
                                                    <div class="text-heading">
                                                        <img src="https://assets.ratemyservice.io/images/rms-customer-reviews.svg"
                                                             alt="Customer Reviews" id="menu-icon"> Customer Reviews
                                                    </div>
                                                    <div class="descriptive-text">
                                                        Effortlessly collect 4&5-Star Reviews with the new and improved
                                                        review feature.
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="/#study-trends" class="icon-nav-link dropdown-link">
                                                <div>
                                                    <div class="text-heading">
                                                        <img src="https://assets.ratemyservice.io/images/rms-reporting-and-dashboards.svg"
                                                             alt="Reporting & Dashboard" id="menu-icon"> Reporting &
                                                        Dashboard
                                                    </div>
                                                    <div class="descriptive-text">
                                                        It's important to know how well you are doing. Your Reporting
                                                        tab is the place where all your stats live.
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/agency">Agency</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank"
                                   href="https://roadmap.ratemyservice.io/t/roadmap-agencytools">Roadmap</a>
                            </li>
{#                            Disabled blog link#}
                            {#                            <li class="nav-item">#}
{#                                <a class="nav-link" target="_blank" href="https://ratems-blog.com/">Blog</a>#}
{#                            </li>#}
                            <li class="nav-item">
                                <a class="nav-link" href="/#price-plans">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#youtube-2">Tutorial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://app.ratemyservice.io/signin">Login</a>
                            </li>
                            <li class="nav-item d-none d-lg-inline-block me-0">
                                <a class="btn try-it-free-header-but" href="https://app.ratemyservice.io/signup">Get
                                    started
                                    free</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    // Converts Bootstrap Dropdown to hoverable
    $(document).ready(function () {
        const iconNav = $('.icon-nav');
        const iconNavDropdown = $('.icon-nav-dropdown');
        const iconNavLink = $('.icon-nav-link');
        const desktopWidth = 992;

        function toggleDropdown() {
            // Set hover to dektop only
            if ($(window).width() >= desktopWidth) {
                iconNav.hover(function () {
                    $(this).addClass('show');
                    $(this).find(iconNavDropdown).fadeIn(200);
                }, function () {
                    $(this).removeClass('show');
                    $(this).find(iconNavDropdown).fadeOut(200);
                });

                // Close the dropdown when a .icon-nav-link is clicked
                iconNavLink.click(function () {
                    $(this).closest(iconNav).removeClass('show');
                    $(this).closest(iconNavDropdown).fadeOut(200);
                });
            } else {
                // Remove any existing event handlers to prevent hover on mobile
                iconNav.off('mouseenter mouseleave');
                iconNav.removeClass('show');
                iconNavDropdown.css('display', '');

                // Ensure the dropdown also closes on mobile if clicked
                iconNavLink.click(function () {
                    $(this).closest(iconNav).removeClass('show');
                    $(this).closest(iconNavDropdown).fadeOut(200);
                });
            }
        }

        toggleDropdown();
        $(window).resize(toggleDropdown);

        // Closes off canvas menu when link is clicked
        const offcanvasElement = document.getElementById('offcanvasMenu');
        const offcanvasInstance = new bootstrap.Offcanvas(offcanvasElement);

        $('#offcanvasMenu .icon-nav-link').on('click', function () {
            offcanvasInstance.hide();
            const dropdownParent = $(this).closest('.dropdown');
            if (dropdownParent.length) {
                const dropdownToggle = dropdownParent.find('.dropdown-toggle');
                if (dropdownToggle.length) {
                    const dropdownMenu = new bootstrap.Dropdown(dropdownToggle[0]);
                    dropdownMenu.hide();
                }
            }
        });
    });
</script>