<div id="intro-pic"
     style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp);">
    <div class="rms-section-split rms-section-split--absolute" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #F5F6F8;"></path>
        </svg>
    </div>
    <div class="the-pic">
        <div class="centered">Steps to get more 5-Star Reviews</div>
        <div class="copy-&-paste">
            <p>Only 3-minute setup. Just copy & paste! 🚀</p>
        </div>
        <div class="container z-1 position-relative " id="3-steps">
            <div class="steps-container">
                <div class="">
                    <img src="https://assets.ratemyservice.io/images/rms-step-1-icon.svg" alt="An icon of a 1">
                    <p class="step-1-text">Your customer clicks on the positive icon in your email signature.</p>
                    <img src="https://assets.ratemyservice.io/images/rms-tablet-email.webp" class="steps-mockup" alt="A mockup of a tablet with a email signature on the screen. An arrow pointing towards rating buttons">
                </div>
                <div class="">
                    <img src="https://assets.ratemyservice.io/images/rms-step-2-icon.svg" alt="An icon of a 2">
                    <p class="step-2-text">RateMyService re-directs your customers' clicks to your Review Profile form.</p>
                    <img src="https://assets.ratemyservice.io/images/rms-phone-google.png" class="steps-mockup" style="max-width: 280px;" alt="A mockup of a phone containing a Google Review">
                </div>
                <div class="">
                    <img src="https://assets.ratemyservice.io/images/rms-step-3-icon.svg" alt="An icon of a 3">
                    <p class="step-3-text">Your Profile has a new 5-Star Review</p>
                    <img src="https://assets.ratemyservice.io/images/rms-chocolates.png" class="steps-mockup" alt="A mockup of a tablet with a Google Business page on the screen">
                </div>
            </div>
        </div>
    </div>
    <img src="https://assets.ratemyservice.io/images/rms-section-split-wave.svg"
         alt="A wave pattern that splits two sections"
         class="section-split section-split--wave" id="rms-bottom-fold-wave">
</div>

