<div class="ratings" id="ratings" style="position: relative;">
    <div class="rms-section-split rms-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #f5f6f8;"></path>
        </svg>
    </div>
    <div class="rating-wrapper">
        <div class="container pad-container">
            <div class="row">
                <div class="col-12 col-md-6 p-3">
                    <div class="inner-wrap">
                        <div class="ratings-item">      {# stars #}
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                        </div>
                        <div class="ratings-item">
                            <p>“We implemented 'Rate my service' and noticed an instant engagement from our clients.
                                There is nothing more important than understanding our clients and their needs.
                                I also love the ability to track the feedback for each of our staff members.”
                            </p>
                        </div>
                        <div class="ratings-item">
                            <div class="ratings-img">
                                <img class="img-ratings"
                                     src="https://assets.ratemyservice.io/images/richard.jpg"
                                     loading="lazy" alt="A photo of a man called Richard Sharp">
                            </div>
                            <div class="ratings-client">
                                <div><span><strong>Richard Sharp</strong></span></div>
                                <div><span class="title-ratings">CEO of Heritage Wealth Partners</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <div class="inner-wrap">
                        <div class="ratings-item">      {# stars #}
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                        </div>
                        <div class="ratings-item">
                            <p>“RateMyService encourages customer service at the most high level and promotes a
                                platform where staff can be evaluated in an encouraging and uplifting way.”
                            </p>
                        </div>
                        <div class="ratings-item">
                            <div class="ratings-img">
                                <img class="img-ratings"
                                     src="https://assets.ratemyservice.io/images/hanli-malan.webp"
                                     loading="lazy" alt="A photo of a woman named Hanli Malan">
                            </div>
                            <div class="ratings-client">
                                <div><span><strong>Hanli Malan</strong></span></div>
                                <div><span class="title-ratings">FD of PPM Utilities Management</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 p-3">
                    <div class="inner-wrap">
                        <div class="ratings-item">      {# stars #}
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                        </div>
                        <div class="ratings-item">
                            <p>“Our support team at Wibernet have been using this for sometime and it's been great,
                                we now can monitor and get the necessary feedback we require to continue to have great
                                customer service. Thanks RateMyService for the great work keep it up! Highly recommend it!”
                            </p>
                        </div>
                        <div class="ratings-item">
                            <div class="ratings-img">
                                <img class="img-ratings"
                                     src="https://assets.ratemyservice.io/images/martin.jpg"
                                     loading="lazy" alt="A photo of a woman named Martin Stiger">
                            </div>
                            <div class="ratings-client">
                                <div><span><strong>Martin Stiger</strong></span></div>
                                <div><span class="title-ratings">CMO of Wibernet - Pure Internet</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <div class="inner-wrap">
                        <div class="ratings-item">      {# stars #}
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15"><polygon points="1170 6866 1171.9 6871.348 1177 6871.348 1172.838 6874.488 1174.327 6880 1170 6876.695 1165.675 6880 1167.162 6874.488 1163 6871.348 1168.1 6871.348" transform="translate(-1163 -6866)"></polygon></svg></span>
                        </div>
                        <div class="ratings-item">
                            <p>“Awesome product - RateMyService has increased the value of my business.
                                I would recommend this App service to any one!”
                            </p>
                        </div>
                        <div class="ratings-item">
                            <div class="ratings-img">
                                <img class="img-ratings"
                                     src="https://assets.ratemyservice.io/images/peter.webp"
                                     loading="lazy" alt="A photo of a woman named Peter Rehlinger">
                            </div>
                            <div class="ratings-client">
                                <div><span><strong>Peter Rehlinger</strong></span></div>
                                <div><span class="title-ratings">CEO of Water Tech Inc</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
