<section style="background-color: #f5f6f8; position: relative;">
    <div class="container section-2" id="section-2">
        <div class="row">
            <div class="item-1 mb-3">
            <a href="https://app.ratemyservice.io/signup" class="free-trial-btn w-auto p-3 my-3">
                       <span>Get more 5-star Reviews</span>
                    </a>
                <div class=""> <span class="cancel-message">Cancel Any Time • No Credit Card Required</span></div>
            </div>
            <div class="col-lg-4">
                <img src="https://assets.ratemyservice.io/images/icon-reviews.svg" alt="An icon of a star">
                <h3 style="font-weight: 700;">Get more 5-star Reviews</h3>
                <p>Re-direct positive clicks external Review Sites, and Boost Your Online Reputation with Positive
                    Feedback. </p>
            </div>
            <div class="col-lg-4">
                <img src="https://assets.ratemyservice.io/images/icon-happy.svg" alt="An icons of a smiling speech bubble">
                <h3 style="font-weight: 700;">Recover Dropped Balls</h3>
                <p>Negative feedback remains internal as clients are promptly connected with a manager to resolve issues.</p>
            </div>
            <div class="col-lg-4">
                <img src="https://assets.ratemyservice.io/images/icon-team.svg" alt="An icon of two persons">
                <h3 style="font-weight: 700;">Review Team Members</h3>
                <p>Assess team members, identify underperformers, and pinpoint areas for staff improvement or
                    training.</p>
            </div>
        </div>
    </div>

</section>