<div class="tp-reviews-container card card-body">
    <img class="tp-logo" src="/images/trustpilot-logo.svg" alt="Trustpilot Reviews Logo">
    <div class="tp-reviews-cta-card">
        <img class="tp-stars" src="/images/trustpilot-stars.svg" alt="Trustpilot Review Stars">
        <span class="tp-rating">4.6</span>
    </div>
    <a href="https://www.trustpilot.com/evaluate/ratemyservice.io" target="_blank" class="btn btn-pink btn-sm">Write a review</a>
</div>
<script src="https://widget.senja.io/widget/9a142ee0-8ec7-4d22-898d-a8c07cabbe6b/platform.js" type="text/javascript" async></script>
<div class="senja-embed" data-id="9a142ee0-8ec7-4d22-898d-a8c07cabbe6b" data-mode="shadow" data-lazyload="false" style="display: block;"></div>