<div class="using-rms" id="using-rms" style="position: relative">
    <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #ffffff;"></path>
        </svg>
    </div>
    <div class="using-tn-wrap">
        <div id="customize-your-widget" class="my-tn-item">
            <div class="container pad-container">
                <h1 class="text-center fw-bold mb-5">Easy To Setup & Use</h1>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h3>Customize Your Widget</h3>
                        <p>Customize your widget to fit your brand, draw attention, leave a lasting impression, and encourage positive reviews that draw in more clientele.</p>
                        <ul>
                            <li>→ Change the number (2, 3 or 5) of icons that appear</li>
                            <li>→ Choose between Static & Animated (GIF) icons</li>
                            <li>→ Choose from dozens of icon sets</li>
                            <li>→ Change the Language of your CTA</li>
                            <li>→ Choose from different CTA options</li>
                            <li>→ Create your own unique CTA</li>
                            <li>→ Change the CTA distance from the icons</li>
                            <li>→ Change the font Type, Size, and Color</li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 tn-images tn-images-1" id="tn-images-1">
                        <img src="/images/Customizable_Survey.webp"
                             loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja dashboard">
                    </div>
                </div>
            </div>
        </div>
        <div class="my-tn-item" style="position: relative; background: #fff;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #f5f6f8;"></path>
                </svg>
            </div>
            <div class="container pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 tn-images order-1 order-md-0 tn-images-2" id="tn-images-2">
                        <img src="/images/AddUsers.webp"
                             loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja dashboard">
                    </div>
                    <div class="col-12 col-md-6 order-0 order-md-1">
                        <h3>Add Users Quickly</h3>
                        <p>We have the fastest setup process in the industry, which means you can get customer feedback
                            quickly.</p>
                        <ul>
                            <li>→ Import from G-Suite</li>
                            <li>→ Import from Office-365</li>
                            <li>→ Import from CSV</li>
                            <li>→ Add one-by-one (manually)</li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-tn-item" style="position: relative; background: #f5f6f8;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #ffffff;"></path>
                </svg>
            </div>
            <div class="container pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h3>Copy & Paste to Use</h3>
                        <p>Embed them directly in your existing email with a click of a button - our solution is copy &
                            paste simple.</p>
                        <ul>
                            <li>→ Add to G-Suite (Gmail) / Office-365 / Outlook</li>
                            <li>→ Add to ANY Email Client or Email Signature</li>
                            <li>→ Works seamlessly w/ Standard & HTML Email Signatures</li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 tn-images tn-images-3" id="tn-images-3">
                        <img src="/images/embed-in-gmail---small.webp"
                             loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja dashboard">
                    </div>
                </div>
            </div>
        </div>
        <div class="my-tn-item" style="position: relative; background: #ffffff;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #f5f6f8;"></path>
                </svg>
            </div>

            <div class="container  pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 tn-images order-1 order-md-0 tn-images-4" id="tn-images-4">
                        <img src="/images/tn-internal-surveys.webp"
                             loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja dashboard">
                    </div>
                    <div class="col-12 col-md-6 order-0 order-md-1">
                        <h3>Start Getting Feedback</h3>
                        <p>Every email becomes a channel for your customer to give you feedback & help you grow.</p>
                        <ul>
                            <li>→ Clients can now give feedback in 1-Click</li>
                            <li>→ You decide who gets notified</li>
                            <li>→ Know where the issues are</li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="track-feedback" class="my-tn-item" style="position: relative; background: #f5f6f8;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #ffffff;"></path>
                </svg>
            </div>

            <div class="container pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h3>Track Feedback</h3>
                        <p>Responding to feedback is critical to maintain healthy client relationships and prevent
                            dissatisfaction</p>
                        <ul>
                            <li>→ Filter by staff member, date or rating</li>
                            <li>→ See the details of each response</li>
                            <li>→ Respond to issues immediately</li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 tn-images tn-images-5" id="tn-images-5">
                        <img src="/images/Customer_Feedback.webp"
                             loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja rating screens">
                    </div>
                </div>
            </div>
        </div>
        <div id="get-more-reviews" class="my-tn-item" style="position: relative; background: #ffffff;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #f5f6f8;"></path>
                </svg>
            </div>
            <div class="container pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 tn-images order-1 order-md-0 tn-images-6" id="tn-images-6">
                        <img src="/images/Customer_Reviews.webp"
                             loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja dashboard">
                    </div>
                    <div class="col-12 col-md-6 order-0 order-md-1">
                        <h3>Get more 5-Star Reviews</h3>
                        <p>Effortlessly collect 4&5-Star Reviews with the new and improved review feature.</p>
                        <ul>
                            <li>→ Re-direct clicks to your to GoogleMyBusiness (GBS), Trustpilot, YELP, Facebook or
                                Custom URL
                            </li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="languages" class="my-tn-item" style="position: relative; background: #f5f6f8;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #ffffff;"></path>
                </svg>
            </div>
            <div class="container pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h3>18 Languages and Counting...</h3>
                        <p>Display your survey and call-to-action in the language of your choosing</p>
                        <ul>
                            <li>→ English</li>
                            <li>→ Czech, Dutch, French, German, Italian, Polish, Portuguese (PT), Spanish</li>
                            <li>→ Norwegian, Swedish, Danish</li>
                            <li>→ Russian, Serbian</li>
                            <li>→ Arabic, Hindi</li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 tn-images tn-images-5" id="tn-images-5">
                        <img src="/images/Languages_NO_Heading.webp"
                             loading="lazy"
                             class="rounded-4" alt="Graphic containing various country flags">
                    </div>
                </div>
            </div>
        </div>
        <div id="study-trends" class="my-tn-item" style="position: relative; background: #ffffff;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #f5f6f8;"></path>
                </svg>
            </div>
            <div class="container pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 tn-images order-1 order-md-0 tn-images-6" id="tn-images-6">
                        <img src="/images/Reporting_Trends_and_Dashboard.webp"
                             loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja dashboard">
                    </div>
                    <div class="col-12 col-md-6 order-0 order-md-1">
                        <h3>Study Trends</h3>
                        <p>It's important to know how well you are doing. Your Reporting tab is the place where all your
                            stats live.</p>
                        <ul>
                            <li>→ Track how your company is doing</li>
                            <li>→ See how each user is performing</li>
                            <li>→ View all history of performance</li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="white-label-cname" class="my-tn-item" style="position: relative; background: #f5f6f8;">
            <div class="tn-section-split tn-section-split--absolute split-svg" id="split-svg" style="top: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                    <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                          style="stroke-width: 0; fill: #ffffff;"></path>
                </svg>
            </div>
            <div class="container pad-container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h3>White-label / CNAME Module</h3>
                        <p>Ideal for Agencies, Franchises or Enterprises!</p>
                        <ul>
                            <li>→ Easily switch between sub-accounts using the Super Admin Dropdown. (1)</li>
                            <li>→ Logo & favicon will be YOUR Brand. (2)</li>
                            <li>→ URL will be YOUR DomainName. (3)</li>
                            <li>→ Users will only ever see YOUR Brand.</li>
                            <li>→ All system emails will be with YOUR Domain/Branding.</li>
                            <li>→ Anyone signing-up with your domain-URL will automatically be part of YOUR
                                ecosystem/Branding.
                            </li>
                        </ul>
                        <div class="but-try-free text-center">
                            <a class="try-for-free" href="https://app.trustninja.io/signup">Get more 5-star
                                reviews</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 tn-images tn-images-5" id="tn-images-5">
                        <img src="/images/cname.webp" loading="lazy"
                             class="rounded-4" alt="A screenshot of the TrustNinja dashboard">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>