<div id="youtube-2" style="position: relative">
    <div class="rms-section-split rms-section-split--absolute" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0" style="stroke-width: 0; fill: #f5f6f8;"></path>
        </svg>
    </div>
    <div class="container pad-container py-3 px-3 bg-light shadow-lg" >
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/aSLSL0Z0_xw?si=w7M_MygvgAH8R7dW"
                    title="Quick Tutorial Video [RateMyService]" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen loading="lazy"></iframe>
        </div>
    </div>
</div>