<div id="youtube-1" style="position: relative;">
    <div class="rms-section-split rms-section-split--absolute" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #f5f6f8;"></path>
        </svg>
    </div>
    <div class="container pad-container">
        <div class="ratio ratio-16x9">
            <video controls preload="none" width="100%"
                   style="border-radius: 1rem; box-shadow: 0 5px 50px rgba(0, 0, 0, 0.12), 0 5px 20px rgba(0, 0, 0, 0.1); cursor: pointer;"
                   poster="https://assets.ratemyservice.io/images/rms-video-thumbnail.webp"
                   onclick="this.paused ? this.play() : this.pause(); arguments[0].preventDefault();">
                <source src="https://assets.ratemyservice.io/videos/rms-quick-intro-video.webm"
                        type="video/webm"/>
                <source src="https://assets.ratemyservice.io/videos/rms-quick-intro-video.mp4"
                        type="video/mp4"/>
                Your browser does not support this video file.
            </video>
        </div>
    </div>
    <div>
        <div class="text-center mt-5">
            <a class="free-trial-btn w-auto p-3 my-3" href="https://app.ratemyservice.io/signup">
                Get more 5-star reviews
            </a>
            <span class="cancel-message">Cancel Any Time • No Credit Card Required</span>
        </div>
    </div>
</div>